<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="static/pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="static/tavola baker.css">
    <link rel="stylesheet" href="static/grid container {.css">
</head>

<nav>
    <ul>
        <li><a href="/HOME"><b>HOME</b></a></li>
    </ul>
</nav>

<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="static/immagini/casco 1.jpg" alt="error" class="df-img">
                <p>Evolution Solid Colors, Casco, satin-black<br>prezzo: € 49,99 </p>
            </div>
            <div>
                <img src="static/immagini/casco2.jpg" alt="error" class="df-img">
                <p>Meta Solid Color, Casco, satin-black<br>prezzo: € 59,99 </p>
            </div>
            <div>
                <img src="static/immagini/casco3.jpg" alt="error" class="df-img">
                <p>Skate/BMX Solid Color, Casco, injected black<br>prezzo: € 34,99 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/e5/df/dc/tsg-helme-evolution-solid-colors-satin-dark-black-vorderansicht-0075046_600x600.jpg" alt="error" class="df-img">
                <p>Evolution Solid Colors, Casco, satin dark black<br>prezzo: € 49,95 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/c1/b2/e9/tsg-helme-evolution-women-solid-color-satin-mint-vorderansicht-0750102_600x600.jpg" alt="error" class="df-img">
                <p>Evolution Women Solid Color, Casco, satin mint<br>prezzo: € 49,99 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/d7/1d/3e/tsg-helme-evolution-graphic-designs-stickerbomb-vorderansicht-0075047_600x600.jpg" alt="error" class="df-img">
                <p>Evolution Graphic Design, Casco, stickerbomb<br>prezzo: € 69,99 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/f7/91/d8/tsg-helme-evolution-graphic-designs-firecracker-vorderansicht-0075047_600x600.jpg" alt="error" class="df-img">
                <p>Evolution Graphic Design, Casco, firecracker<br>prezzo: € 69,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/32/47/79/TSG-Helme-Evolution-Kids-Solid-Color-satin-black-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p>Evolution Kids Solid Color, Casco, satin-black<br>prezzo: € 44,99 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/5b/8c/fd/TSG-Helme-Evolution-Graphic-Special-clear-white-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p>Evolution Special Makeup, Casco, clear-white<br>prezzo: € 69,99 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/a0/6f/05/tsg-helme-meta-solid-color-satin-blue-tint-vorderansicht-0750123_600x600.jpg" alt="error" class="df-img">
                <p>Meta Solid Color, Casco, satin blue tint<br>prezzo: € 59,99 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/2a/a7/f4/TSG-Helme-Evolution-Solid-Colors-satin-oxblood-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p>Evolution Solid Colors, Casco, satin oxblood<br>prezzo: € 49,99 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/56/6b/9d/tsg-helme-evolution-graphic-designs-mr-tsg-vorderansicht-0075047_600x600.jpg" alt="error" class="df-img">
                <p>Evolution Graphic Design, Casco, mr tsg <br>prezzo: € 69,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/6c/ca/94/TSG-Helme-Nipper-Maxi-Graphic-Design-Kids-panda-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p>Nipper Maxi Graphic Design Kids, Casco, panda<br>prezzo: € 54,99 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/66/05/92/tsg-helme-meta-graphic-design-sticky-vorderansicht-0750124_600x600.jpg" alt="error" class="df-img">
                <p>Meta Graphic Design, Casco, sticky<br>prezzo: € 64,95 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/5c/3d/5d/tsg-helme-evolution-graphic-designs-ride-or-dye-vorderansicht-0075047_600x600.jpg" alt="error" class="df-img">
                <p>Evolution Graphic Design, Casco, ride-or-dye<br>prezzo: € 69,99 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/90/f1/9c/TSG-Helme-Nipper-Graphic-Design-Mini-Kids-panda-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p>Nipper Mini Graphic Design Kids, Casco, panda<br>prezzo: € 59,99 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/ef/c8/f1/tsg-helme-meta-graphic-design-lollipop-vorderansicht-0750124_600x600.jpg" alt="error" class="df-img">
                <p>Meta Graphic Design, Casco, lollipop <br>prezzo:€ 64,95 </p>
            </div>

        </div>


    </div>
</body>

</html>