<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="static/pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="static/tavola baker.css">
    <link rel="stylesheet" href="static/grid container {.css">
</head>

<nav>
    <ul>
        <li><a href="/HOME"><b>HOME</b></a></li>
    </ul>
</nav>

<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="static/immagini/casco 1.jpg" alt="error" class="df-img">
                <p>Evolution Solid Colors, Casco, satin-black<br>prezzo: € 49,99 </p>
            </div>
            <div>
                <img src="static/immagini/casco2.jpg" alt="error" class="df-img">
                <p>Meta Solid Color, Casco, satin-black<br>prezzo: € 59,99 </p>
            </div>
            <div>
                <img src="static/immagini/casco3.jpg" alt="error" class="df-img">
                <p>Skate/BMX Solid Color, Casco, injected black<br>prezzo: € 34,99 </p>
            </div>
            <div>
                <img src="static/immagini/casco4.jpg" alt="error" class="df-img">
                <p>Evolution Solid Colors, Casco, satin dark black<br>prezzo: € 49,95 </p>
            </div>
            <div>
                <img src="static/immagini/casco5.jpg" alt="error" class="df-img">
                <p>Evolution Women Solid Color, Casco, satin mint<br>prezzo: € 49,99 </p>
            </div>
            <div>
                <img src="static/immagini/casco6.jpg" alt="error" class="df-img">
                <p>Evolution Graphic Design, Casco, stickerbomb<br>prezzo: € 69,99 </p>
            </div>
            <div>
                <img src="static/immagini/casco7.jpg" alt="error" class="df-img">
                <p>Evolution Graphic Design, Casco, firecracker<br>prezzo: € 69,99</p>
            </div>
            <div>
                <img src="static/immagini/casco8.jpg" alt="error" class="df-img">
                <p>Evolution Kids Solid Color, Casco, satin-black<br>prezzo: € 44,99 </p>
            </div>
            <div>
                <img src="static/immagini/casco9.jpg" alt="error" class="df-img">
                <p>Evolution Special Makeup, Casco, clear-white<br>prezzo: € 69,99 </p>
            </div>
            <div>
                <img src="static/immagini/casco10.jpg" alt="error" class="df-img">
                <p>Meta Solid Color, Casco, satin blue tint<br>prezzo: € 59,99 </p>
            </div>
            <div>
                <img src="static/immagini/casco11.jpg" alt="error" class="df-img">
                <p>Evolution Solid Colors, Casco, satin oxblood<br>prezzo: € 49,99 </p>
            </div>
            <div>
                <img src="static/immagini/casco12.jpg" alt="error" class="df-img">
                <p>Evolution Graphic Design, Casco, mr tsg <br>prezzo: € 69,99</p>
            </div>
            <div>
                <img src="static/immagini/casco13.jpg" alt="error" class="df-img">
                <p>Nipper Maxi Graphic Design Kids, Casco, panda<br>prezzo: € 54,99 </p>
            </div>
            <div>
                <img src="static/immagini/casco14.jpg" alt="error" class="df-img">
                <p>Evolution Graphic Design, Casco, ride-or-dye<br>prezzo: € 69,99 </p>
            </div>
            <div>
                <img src="static/immagini/casco15.jpg" alt="error" class="df-img">
                <p>Meta Graphic Design, Casco, lollipop <br>prezzo:€ 64,95 </p>
            </div>

        </div>


    </div>
</body>
<footer>
    <p> El Allami Ali  - elallami.ali.nasr@iisgalvanimi.edu.it</p>
  </footer>
</html>