<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="tavola baker.css">
    <link rel="stylesheet" href="grid container {.css">
</head>

<nav>
    <ul>
        <li><a href="pagina1.html"><b>BACK</b></a></li>
    </ul>
</nav>

<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="https://media.titus.de/media/image/1d/d9/41/santa-cruz-skate-wachs-classic-dot-skate-wax-box-of-12-natural-vorderansicht-0200074_600x600.jpg" alt="error" class="df-img">
                <p><h2>Santa-Cruz</h2><br>Classic Dot Skate Wax Box of 12, Cera da skate, natural<br>prezzo:€ 69,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/27/9e/8c/Toy-Machine-Skate-Wachs-Curb-Wax-purple-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p><h2>Toy-Machine</h2> <br>Curb Wax, Cera da skate, purple<br>prezzo: € 7,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/ef/b5/bb/Shortys-Skate-Wachs-Curb-Candy-Wax-In-A-Box-red-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p><h2>Shortys </h2><br>Curb Candy Wax In A Box, Cera da skate, red<br>prezzo: € 9,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/08/4b/c2/Grizzly-Skate-Wachs-Grease-royal-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p><h2>Grizzly</h2><br> Grease, Cera da skate, royal<br>prezzo:  € 13,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/6a/3d/4d/Pig-Skate-Wachs-Head-Curb-Wax-purple-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p><h2>Cortina Bearing</h2><br> Playboy Bunny, Cera da skate, red<br>prezzo: € 11,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/f8/e2/30/almost-skate-wachs-puck-red-vorderansicht-0200087_600x600.jpg" alt="error" class="df-img">
                <p><h2>Almost</h2><br>Puck, Cera da skate, red<br>prezzo: € 7,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/de/1d/6d/independent-skate-wachs-kurb-killer-curb-wax-red-vorderansicht-0200028_600x600.jpg" alt="error" class="df-img">
                <p><h2>Independent</h2><br>Kurb Killer Curb Wax, Cera da skate, red<br>prezzo: € 13,99</p>
            </div>

        </div>


    </div>
</body>

</html>