<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <title>Titolo pagina sito web</title>
    <link href="static/pagina3.css" rel="stylesheet">
</head>

<body>
    <header>
        <img src="https://thumbs.dreamstime.com/b/skateboard-shop-badge-emblem-design-vector-skateboard-shop-badge-emblem-design-166492408.jpg" />
        <h1>SKATEBOARD</h1>
        <h2>SKATE</h2>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/come scegliere un setup">TORNA INDIETRO</a>
            </li>
        </ul>
    </nav>
    <article>

        <p>
            <h1>COME SCEGLIERE DELLE RUOTE DA SKATE</h1>

            <br><br>Scegliere quali ruote comprare per il vostro skateboard dipende dal vostro stile, ma in generale delle ruote 
            <br>più piccole sono ideali per girare su asfalto e per i rider più minuti, mentre delle ruote più grandi sono
            <br>perfette nei vert e negli skatepark. Leggete questa guida fino in fondo per trovare le ruote della durezza e
            <br>misura giuste per voi.

            <br>
            <br>

            <img src="static/immagini/come scegliere delle ruote.jpg" />


            <br>
            <br>


            <br>Avete a disposizione qui una scelta davvero ampia di ruote da skate in diverse durezze e colorazioni. Sono
            <br>tutte in poliuretano (PU), un materiale plastico molto elastico e dall'ottimo rebound, per garantirvi una
            <br>migliore trasmissione di potenza rispetto alla plastica normale. Capite bene, quindi, che scegliere ruote della
            <br>giusta durezza e diametro è fondamentale, perché influenzerà la vostra capacità di curvare e il vostro stile di
            <br>skateboarding.

            <br>
            <br>

            <h2>Diametro</h2>
            Le ruote vengono misurate in base al loro diametro, il quale determina quanto veloce sarà una ruota e quale
            
            <br>capacità di accelerazione avrà (quanto rapidamente prenderà lo slancio). I punti chiave:
                  <br>
                  <br>
                  Uno skateboard con ruote grandi va più veloce, ma è meno controllabile
                  <br>
                  <br>
                  Con delle ruote più piccole si va più piano, ma si ha un miglior controllo
            <br>
            <br>
            50-53 mm: è il diametro più usato usate per le ruote da asfalto e per girare negli skatepark urbani. L'ideale per i rider di bassa statura e per tavole piccole. Non si scelgono delle ruote del genere per andare forte, ma per stare più vicini a terra e grindare sui bordi per poter così facilitare i trick.
            <br>54-60 mm: si tratta della misura standard usata sia dai principianti che dagli skateboarder più esperti. Ruote di questo diametro permettono di prendere lo slancio necessario per lanciarsi sulle rampe e vert, oltre a garantirvi la versatilità necessaria per fare un po' di tutto.
            <br>
            <br>
            <h3>Durezza</h3>
             Gli skater indicano la durezza delle ruote seguendo la scala ABEC, in cui valore numerico viene seguito dalla lettera A. Esistono anche altre scale, come la scala D, ma in tutte queste un valore più alto indica una ruota più dura. Per esempio, una ruota di durezza 100A è più dura di una da 90A. In generale:
             <br>
             <br>
             Una ruota più dura è più veloce e durevole, ma ha meno grip e smorza meno le vibrazioni
             <br><br>
             
             Una ruota più morbida è più ammortizzante e ha un miglior grip, ma è più lenta e dura meno nel tempo
             <br><br>
             <h3>95-100A</h3>è il range di durezza più scelto, a prescindere che si tratti di skateboarding su strada, negli skatepark o sulle rampe. Niente paura quindi, con ruote di questo tipo non potete sbagliare.
       
             <h3>Ruote per il commuting</h3> 
             se usate il vostro skate soprattutto come mezzo di trasporto, meglio scegliere delle ruote più larghe e morbide, per rendere lo skate più confortevole.
            
             <h3>Ruote da trick</h3>
             se amate il freestyle, prendete delle ruote più dure, poiché la loro maggiore reattività vi assicura un miglior controllo.
       
       
       
         </p>

    </article>


</body>
    <footer>
      <p> El Allami Ali  - elallami.ali.nasr@iisgalvanimi.edu.it</p>
    </footer>
</html>