<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <title>Titolo pagina sito web</title>
    <link href="pagina1.css" rel="stylesheet">
</head>

<body>
    <header>
        <img src="https://thumbs.dreamstime.com/b/skateboard-shop-badge-emblem-design-vector-skateboard-shop-badge-emblem-design-166492408.jpg" />
        <h1>SKATEBOARD</h1>
        <h2>SKATE</h2>
    </header>
    <nav>
        <ul>
            <li>
                <a href="come scegliere un setup.html">BACK</a>
            </li>
        </ul>
    </nav>