<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le origini dello skate</title>
    <link href="static/pagina.css" rel="stylesheet">
</head>



<body>
    <header>
        <img src="https://thumbs.dreamstime.com/b/skateboard-shop-badge-emblem-design-vector-skateboard-shop-badge-emblem-design-166492408.jpg" />
        <h1>SKATEBOARD</h1>
        <h2>SKATE</h2>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/HOME">HOME</a>
            </li>
        </ul>
    </nav>
    <article>

        <p>
            <h1>Le origini dello skate</h1>


            </b> lo skate nasce tra gli anni 1950 e 1960 in California.

            <br><br>Alcuni surfers ebbero l’idea di applicare sotto una tavola da surf 4 ruote per scendere lungo i pendii asfaltati.

            <br<br>>Lo sviluppo di quest’idea, nel 1959 portò le prime tavole da skateboard sugli scaffali dei negozi.

                <br><br>on si trattò altro che di una semplice tavola di legno verniciata con due supporti in metallo fissati con dei bulloni e 4 ruote di acciaio, sostituite in seguito con quelle d’argilla. Questo prodotto ebbe un enorme successo, tanto
                da realizzare le prime competizioni ed aggiudicandosi l’appellativo di sport vero e proprio, grazie al lavoro di Larry Stevenson ed il suo gruppo Makaha.<br><br>Fino ai primi anni ’70 lo skateboard ebbe un calo, finché non fu introdotto
                un particolare materiale antisdrucciolo che ricopriva la parte superiore della tavola. Nello stesso periodo Frank Nasworthy sviluppò le ruote in uretano che sostituiva la gomma sintetica, ed in seguito nel 1975, Road Rider introdusse le
                ruote con i cuscinetti di precisione.<br><br>Nel 1976 in Florida venne aperto il primo skatepark, e col passare del tempo anche le tavole passarono dai tradizionali sette ai nove pollici di lunghezza. In seguito alla creazione delle pool,
                delle piscine con le pareti curve, Alan Ollie Gelfand inventò l'ollie, ovvero l’alzare la tavola senza l’uso delle mani. Nel 1978 lo skate venne riconosciuto dal C.O.N.I.<br><br>2 anni più tardi, 1980, di nuovo il calo, causato questa
                volta dal fenomeno della BMX. Tra il 1983 ed il 1991 lo skate ebbe un nuovo livello di popolarità portati da Tony Hawk, l’inventore dello stalefish, ed anche Christian Hosoi, Lance Mountain, Neil Blender, Mark Gonzales, Natas Kaupas, Tommy
                Guerrero, Rodney Mullen. In seguito lo skate venne offuscato dai rollerblade. La risalita fu lenta fino al 1995 dove riprese la popolarità di un tempo grazie anche al lavoro di Jim Fitzpatrick e nel suo progetto di riaprire gli skateparks.
        </p>
    </article>
</body>
<footer>
    <p> El Allami Ali  - elallami.ali.nasr@iisgalvanimi.edu.it</p>
  </footer>
</html>