<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="tavola baker.css">
    <link rel="stylesheet" href="grid container {.css">
</head>

<nav>
    <ul>
        <li><a href="pagina5.html"><b>BACK</b></a></li>
    </ul>
</nav>

<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="https://media.titus.de/media/image/95/6e/05/Bones-Bearings-Kugellager-Reds-no-color-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p> TOP Bones Bearings Reds, Cuscinetto a sfera, no color<br>prezzo: € 24,99 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/8e/c2/8e/Bones-Bearings-Kugellager-Super-Swiss-6-Balls-no-color-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p>Super Swiss 6 Balls, Cuscinetto a sfera, no color <br>prezzo: € 104,99 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/42/5d/b8/Bones-Bearings-Kugellager-Swiss-Ceramics-no-color-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p>Swiss Ceramics, Cuscinetto a sfera, no color <br>prezzo: € 224,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/c0/63/08/Bones-Bearings-Kugellager-Race-Reds-no-color-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p>Race Reds, Cuscinetto a sfera, no color<br>prezzo: € 44,99 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/8d/f8/4a/Bones-Bearings-Kugellager-Super-Reds-no-color-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p> Super Reds, Cuscinetto a sfera, no color<br>prezzo: € 39,99 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/04/d4/45/bones-bearings-kugellager-reds-big-balls-blue-vorderansicht-0180337_600x600.jpg" alt="error" class="df-img">
                <p>Reds Big Balls, Cuscinetto a sfera, blue <br>prezzo: € 31,99 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/8b/af/ee/Bones-Bearings-Kugellager-Ceramic-Super-Reds-no-color-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p> Ceramic Super Reds, Cuscinetto a sfera, no color<br>prezzo: € 115,99 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/35/36/26/Bones-Bearings-Kugellager-Swiss-7-Balls-no-color-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p>Swiss 7 Balls, Cuscinetto a sfera, no color <br>prezzo: € 99,99 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/11/a4/9f/Bones-Bearings-Kugellager-Reds-2er-red-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p> Reds 2er, Cuscinetto a sfera, red<br>prezzo: € 7,99 </p>
            </div>

        </div>


    </div>
</body>

</html>