<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="static/pagina2.css" rel="stylesheet">
        <link rel="stylesheet" href="static/tavola baker.css">
        <link rel="stylesheet" href="static/grid container {.css">
    </head>
    
    <nav>
        <ul>
            <li><a href="/pagina5"><b>TORNA INDIETRO</b></a></li>
        </ul>
    </nav>

<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="https://media.titus.de/media/image/db/c3/fc/bronson-speed-co-kugellager-g3-orange-silver-vorderansicht-0180234_600x600.jpg" alt="error" class="df-img">
                <p> G3, Cuscinetto a sfera, orange-silver <br>prezzo: € 39,99 </p>

            </div>
            <div>
                <img src="https://media.titus.de/media/image/50/a8/c9/bronson-speed-co-kugellager-g2-orange-silver-vorderansicht-0180236_600x600.jpg" alt="error" class="df-img">
                <p> G2, Cuscinetto a sfera, orange-silver<br>prezzo: € 24,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/dd/d4/5c/bronson-speed-co-kugellager-ceramic-black-orange-vorderansicht-0180253_600x600.jpg" alt="error" class="df-img">
                <p> Ceramic, Cuscinetto a sfera, black-orange € 89,99<br>prezzo: </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/dd/3e/f3/bronson-speed-co-kugellager-raw-grey-orange-vorderansicht-0180284_600x600.jpg" alt="error" class="df-img">
                <p>RAW, Cuscinetto a sfera, grey-orange <br>prezzo: € 54,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/a8/14/91/bronson-speed-co-kugellager-mason-silva-pro-bearing-g3-white-black-vorderansicht-0180400_600x600.jpg" alt="error" class="df-img">
                <p>Mason Silva Pro Bearing G3, Cuscinetto a sfera, white-black <br>prezzo: € 39,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/68/2f/a4/bronson-speed-co-kugellager-high-speed-ceramic-oil-15ml-no-color-vorderansicht-0180277_600x600.jpg" alt="error" class="df-img">
                <p> High Speed Ceramic Oil 15ml, Cuscinetto a sfera, no color<br>prezzo: € 12,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/d3/32/67/bronson-speed-co-kugellager-david-gravette-pro-bearing-g3-orange-silver-vorderansicht-0180395_600x600.jpg" alt="error" class="df-img">
                <p> David Gravette Pro Bearing G3, Cuscinetto a sfera, orange-silver<br>prezzo: € 39,99 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/de/66/fe/bronson-speed-co-kugellager-aaron-jaws-homoki-pro-bearing-g3-tie-dye-vorderansicht-0180396_600x600.jpg" alt="error" class="df-img">
                <p> Aaron JAWS Homoki Pro Bearing G3, Cuscinetto a sfera, tie-dye<br>prezzo: € 39,99 </p>
            </div>
        </div>


    </div>
</body>

</html>