<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="static/pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="static/tavola baker.css">
    <link rel="stylesheet" href="static/grid container {.css">
</head>

<nav>
    <ul>
        <li><a href="/pagina5"><b>TORNA INDIETRO</b></a></li>
    </ul>
</nav>

<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="static/immagini/cuscinetti  bones1.jpg" alt="error" class="df-img">
                <p> TOP Bones Bearings Reds, Cuscinetto a sfera, no color<br>prezzo: € 24,99 </p>
            </div>
            <div>
                <img src="static/immagini/cuscinetti  bones2.jpg" alt="error" class="df-img">
                <p>Super Swiss 6 Balls, Cuscinetto a sfera, no color <br>prezzo: € 104,99 </p>
            </div>
            <div>
                <img src="static/immagini/cuscinetti  bones3.jpg" alt="error" class="df-img">
                <p>Swiss Ceramics, Cuscinetto a sfera, no color <br>prezzo: € 224,99</p>
            </div>
            <div>
                <img src="static/immagini/cuscinetti  bones4.jpg" alt="error" class="df-img">
                <p>Race Reds, Cuscinetto a sfera, no color<br>prezzo: € 44,99 </p>
            </div>
            <div>
                <img src="static/immagini/cuscinetti  bones5.jpg" alt="error" class="df-img">
                <p> Super Reds, Cuscinetto a sfera, no color<br>prezzo: € 39,99 </p>
            </div>
            <div>
                <img src="static/immagini/cuscinetti  bones6.jpg" alt="error" class="df-img">
                <p>Reds Big Balls, Cuscinetto a sfera, blue <br>prezzo: € 31,99 </p>
            </div>
            <div>
                <img src="static/immagini/cuscinetti  bones7.jpg" alt="error" class="df-img">
                <p> Ceramic Super Reds, Cuscinetto a sfera, no color<br>prezzo: € 115,99 </p>
            </div>
            <div>
                <img src="static/immagini/cuscinetti  bones8.jpg" alt="error" class="df-img">
                <p>Swiss 7 Balls, Cuscinetto a sfera, no color <br>prezzo: € 99,99 </p>
            </div>
            <div>
                <img src="static/immagini/cuscinetti  bones9.jpg" alt="error" class="df-img">
                <p> Reds 2er, Cuscinetto a sfera, red<br>prezzo: € 7,99 </p>
            </div>

        </div>


    </div>
</body>
<footer>
    <p> El Allami Ali  - elallami.ali.nasr@iisgalvanimi.edu.it</p>
  </footer>
</html>