<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="static/pagina2.css" rel="stylesheet">
        <link rel="stylesheet" href="static/tavola baker.css">
        <link rel="stylesheet" href="static/grid container {.css">
    </head>
    
    <nav>
        <ul>
            <li><a href="/pagina5"><b>TORNA INDIETRO</b></a></li>
        </ul>
    </nav>

<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="static/immagini/cuscinetti bronsor1.jpg" alt="error" class="df-img">
                <p> G3, Cuscinetto a sfera, orange-silver <br>prezzo: € 39,99 </p>

            </div>
            <div>
                <img src="static/immagini/cuscinetti bronsor2.jpg" alt="error" class="df-img">
                <p> G2, Cuscinetto a sfera, orange-silver<br>prezzo: € 24,99</p>
            </div>
            <div>
                <img src="static/immagini/cuscinetti bronsor3.jpg" alt="error" class="df-img">
                <p> Ceramic, Cuscinetto a sfera, black-orange € 89,99<br>prezzo: </p>
            </div>
            <div>
                <img src="static/immagini/cuscinetti bronsor4.jpg" alt="error" class="df-img">
                <p>RAW, Cuscinetto a sfera, grey-orange <br>prezzo: € 54,99</p>
            </div>
            <div>
                <img src="static/immagini/cuscinetti bronsor5.jpg" alt="error" class="df-img">
                <p>Mason Silva Pro Bearing G3, Cuscinetto a sfera, white-black <br>prezzo: € 39,99</p>
            </div>
            <div>
                <img src="static/immagini/cuscinetti bronsor6.jpg" alt="error" class="df-img">
                <p> High Speed Ceramic Oil 15ml, Cuscinetto a sfera, no color<br>prezzo: € 12,99</p>
            </div>
            <div>
                <img src="static/immagini/cuscinetti bronsor7.jpg" alt="error" class="df-img">
                <p> David Gravette Pro Bearing G3, Cuscinetto a sfera, orange-silver<br>prezzo: € 39,99 </p>
            </div>
            <div>
                <img src="static/immagini/cuscinetti bronsor8.jpg" alt="error" class="df-img">
                <p> Aaron JAWS Homoki Pro Bearing G3, Cuscinetto a sfera, tie-dye<br>prezzo: € 39,99 </p>
            </div>
        </div>


    </div>
</body>
<footer>
    <p> El Allami Ali  - elallami.ali.nasr@iisgalvanimi.edu.it</p>
  </footer>
</html>