<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="tavola baker.css">
    <link rel="stylesheet" href="grid container {.css">
</head>

<nav>
    <ul>
        <li><a href="pagina5.html"><b>BACK</b></a></li>
    </ul>
</nav>

<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="https://media.titus.de/media/image/98/c6/9c/independent-kugellager-gp-r-red-red-vorderansicht-0180402_600x600.jpg" alt="error" class="df-img">
                <p>GP-R Red, Cuscinetto a sfera, red<br>prezzo: € 18,99 </p>

            </div>
            <div>
                <img src="https://media.titus.de/media/image/13/f5/46/independent-kugellager-gp-b-black-black-vorderansicht-0180401_600x600.jpg" alt="error" class="df-img">
                <p>GP-B Black, Cuscinetto a sfera, black <br>prezzo: € 23,99</p>
            </div>

        </div>


    </div>
</body>

</html>