<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="static/pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="static/tavola baker.css">
    <link rel="stylesheet" href="static/grid container {.css">
</head>

<nav>
    <ul>
        <li><a href="HOME"><b>HOME</b></a></li>
    </ul>
</nav>

<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="https://media.titus.de/media/image/81/de/f9/TSG-Knie-und-Schienbeinschoner-All-Terrain-black-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p>Kneepad All-Terrain, Ginocchiere, black<br>prezzo: € 49,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/e5/66/5b/TSG-Knie-und-Schienbeinschoner-Force-III-black-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p>Kneepad Force III, Ginocchiere, black <br>prezzo: € 99,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/f5/ed/75/tsg-knie-und-schienbeinschoner-knee-shinguard-temper-a-2-0-black-vorderansicht-0710061_600x600.jpg" alt="error" class="df-img">
                <p>Knee-Shinguard Temper A 2.0, Ginocchiere, black<br>prezzo: € 129,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/c0/5b/34/TSG-Knie-und-Schienbeinschoner-Force-V-A-black-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p>Knee Pads Force V A, Ginocchiere, black<br>prezzo: € 124,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/91/3e/71/TSG-Knie-und-Schienbeinschoner-Arctic-Knee-2nd-Skin-A-black-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p>Arctic Knee 2nd Skin A, Ginocchiere, black<br>prezzo: <br>size: € 74,99 S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/a0/4a/ba/tsg-knie-und-schienbeinschoner-kneepad-wavesk8-a-black-vorderansicht-0710089_600x600.jpg" alt="error" class="df-img">
                <p>Kneepad Wavesk8 A, Ginocchiere, black <br>prezzo: € 109,99<br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/1a/a2/30/TSG-Knie-und-Schienbeinschoner-All-Ground-II-black-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p>Knee Pads All Ground II, Ginocchiere, black<br>prezzo: € 49,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/32/2a/73/TSG-Knie-und-Schienbeinschoner-Force-III-A-black-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p>Knee Pads Force III A, Ginocchiere, black <br>prezzo: € 119,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/84/a5/4b/tsg-knie-und-schienbeinschoner-dermis-pro-a-knee-sleeve-black-vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p>Dermis Pro A Knee-Sleeve, Ginocchiere, black<br>prezzo: € 99,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/54/e3/a6/TSG-Knie-und-Schienbeinschoner-Force-V-black-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p>Knee Pads Force V, Ginocchiere, black <br>prezzo: € 114,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/c5/17/41/TSG-Knie-und-Schienbeinschoner-Roller-Derby-3-0-black-VorderansichtogdmByl0PLMhs_600x600.jpg" alt="error" class="df-img">
                <p>Knee Pads Roller Derby 3.0, Ginocchiere, black<br>prezzo: € 94,95 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/f7/9d/99/TSG-Knie-und-Schienbeinschoner-Kneepad-Sk8-DHP-s-black-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p>Kneepads Sk8 DHP's, Ginocchiere, black<br>prezzo: € 119,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/55/79/a9/tsg-knie-und-schienbeinschoner-knee-shin-pads-youth-black-vorderansicht_600x600.jpg " alt="error" class="df-img">
                <p>Knee-Shin Pads Youth, Ginocchiere, black<br>prezzo: € 44,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/49/3c/86/TSG-Knie-und-Schienbeinschoner-Valdez-black-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p>Kneeguard Valdez, Ginocchiere, black <br>prezzo: € 34,95<br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/55/17/77/tsg-knie-und-schienbeinschoner-kneeguard-tahoe-cap-a-black-vorderansicht-0710090_600x600.jpg" alt="error" class="df-img">
                <p>Kneeguard Tahoe Cap A, Ginocchiere, black <br>prezzo: € 124,95 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/a6/2e/6d/tsg-knie-und-schienbeinschoner-kneepad-forc-iii-youth-black-vorderansicht-0710081_600x600.jpg" alt="error" class="df-img">
                <p>Kneepad Force III Youth, Ginocchiere, black <br>prezzo: € 89,99<br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/3d/fe/bd/TSG-Knie-und-Schienbeinschoner-Tahoe-A-black-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p>Knee Pads Tahoe A, Ginocchiere, black <br>prezzo: € 99,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/6d/d7/d2/TSG-Knie-und-Schienbeinschoner-Joint-black-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p>Knee-Sleeve Joint, Ginocchiere, black<br>prezzo: € 74,99<br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/f9/67/13/tsg-knie-und-schienbeinschoner-recaps-force-iii-v-ad-plus-black-vorderansicht-0710094_600x600.jpg" alt="error" class="df-img">
                <p>Recaps Force III/V AD Plus, Ginocchiere, black<br>prezzo: € 29,95 <br>size: S/M/L/XL</p>
            </div>

        </div>


    </div>
</body>

</html>