<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="static/pagina2.css" rel="stylesheet">
        <link rel="stylesheet" href="static/tavola baker.css">
        <link rel="stylesheet" href="static/grid container {.css">
    </head>
    
    <nav>
        <ul>
            <li><a href="/pagina10"><b>TORNA INDIETRO</b></a></li>
        </ul>
    </nav>

<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="https://media.titus.de/media/image/ee/94/a5/independent-lenkgummis-standard-cylinder-cushions-hard-94a-black-vorderansicht-0199125_600x600.jpg" alt="error" class="df-img">
                <p>Standard Cylinder Cushions Hard 94A, Gommini, black<br>prezzo: € 9,99 <p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/c4/d6/9a/independent-lenkgummis-standard-conical-cushions-medium-hard-92a-blue-vorderansicht-0199129_600x600.jpg" alt="error" class="df-img">
                <p>Standard Conical Cushions Medium Hard 92A, Gommini, blue<br>prezzo: € 9,99 <p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/ec/83/21/Independent-Lenkgummis-Standard-Cylinder-Cushions-Medium-Hard-92A-blue-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p>Standard Cylinder Cushions Medium Hard 92A, Gommini, blue<br>prezzo: € 9,99 <p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/56/fe/8e/independent-lenkgummis-standard-conical-cushions-hard-94a-black-vorderansicht-0199130_600x600.jpg" alt="error" class="df-img">
                <p>Standard Conical Cushions Hard 94A, Gommini, black<br>prezzo: € 9,99<p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/f6/c6/5f/Independent-Lenkgummis-Standard-Conical-Cushions-Soft-88A-red-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p>Standard Conical Cushions Soft 88A, Gommini, red<br>prezzo: € 9,99 <p>
            </div>

        </div>


    </div>
</body>

</html>