<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="static/pagina2.css" rel="stylesheet">
        <link rel="stylesheet" href="static/tavola baker.css">
        <link rel="stylesheet" href="static/grid container {.css">
    </head>
    
    <nav>
        <ul>
            <li><a href="/pagina10"><b>TORNA INDIETRO</b></a></li>
        </ul>
    </nav>
<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="https://media.titus.de/media/image/83/8f/98/zak-maytum-skate-products-lenkgummis-super-carve-95a-glow-vorderansicht-0199235_600x600.jpg" alt="error" class="df-img">
                <p>Super Carve 95A, Gommini, glow<br>prezzo: € 8,99  <p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/da/78/cb/zak-maytum-skate-products-lenkgummis-super-carve-93a-green-vorderansicht-0199234_600x600.jpg" alt="error" class="df-img">
                <p>Super Carve 93A, Gommini, green<br>prezzo: € 8,99  <p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/5d/d9/e2/zak-maytum-skate-products-lenkgummis-super-carve-97a-pink-vorderansicht-0199236_600x600.jpg" alt="error" class="df-img">
                <p>Super Carve 97A, Gommini, pink<br>prezzo: € 8,99  <p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/2d/0e/61/zak-maytum-skate-products-lenkgummis-super-carve-90a-red-vorderansicht-0199233_600x600.jpg" alt="error" class="df-img">
                <p>Super Carve 90A, Gommini, red<br>prezzo: € 8,99  <p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/e6/ce/de/zak-maytum-skate-products-lenkgummis-super-carve-81a-orange-vorderansicht-0199232_600x600.jpg" alt="error" class="df-img">
                <p>Super Carve 81A, Gommini, orange<br>prezzo: € 8,99  <p>
            </div>

        </div>


    </div>
</body>

</html>