<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="tavola baker.css">
    <link rel="stylesheet" href="grid container {.css">
</head>

<nav>
    <ul>
        <li><a href="pagina8.html"><b>BACK</b></a></li>
    </ul>
</nav>


<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="https://media.titus.de/media/image/cd/9e/b0/toy-machine-griptape-full-eye-black-vorderansicht-0142545_600x600.jpg" alt="error" class="df-img">
                <p> Full Eye, Griptape, black<br>prezzo: € 13,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/cf/5a/47/toy-machine-griptape-sect-cut-black-vorderansicht-0142549_600x600.jpg" alt="error" class="df-img">
                <p>Sect Cut, Griptape, black <br>prezzo: € 13,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/c1/16/a0/toy-machine-griptape-furry-monster-black-vorderansicht-0142547_600x600.jpg" alt="error" class="df-img">
                <p> Furry Monster, Griptape, black<br>prezzo: € 13,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/d2/dc/53/toy-machine-griptape-stoner-tb-black-vorderansicht-0142548_600x600.jpg" alt="error" class="df-img">
                <p> Stoner TB, Griptape, black<br>prezzo: € 13,99 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/99/f3/a9/toy-machine-griptape-pen-n-ink-black-vorderansicht-0142544_600x600.jpg" alt="error" class="df-img">
                <p> Pen N Ink, Griptape, black<br>prezzo: € 13,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/e3/5b/09/toy-machine-griptape-flies-black-vorderansicht-0142546_600x600.jpg" alt="error" class="df-img">
                <p>Flies, Griptape, black <br>prezzo: € 13,99</p>
            </div>

        </div>


    </div>
</body>

</html>