<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="static/pagina2.css" rel="stylesheet">
        <link rel="stylesheet" href="static/tavola baker.css">
        <link rel="stylesheet" href="static/grid container {.css">
    </head>

<nav>
    <ul>
        <li><a href="/pagina8"><b>TORNA INDIETRO</b></a></li>
    </ul>
</nav>


<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="static/immagini/grip toy machine.jpg" alt="error" class="df-img">
                <p> Full Eye, Griptape, black<br>prezzo: € 13,99</p>
            </div>
            <div>
                <img src="static/immagini/grip toy machine2.jpg" alt="error" class="df-img">
                <p>Sect Cut, Griptape, black <br>prezzo: € 13,99</p>
            </div>
            <div>
                <img src="static/immagini/grip toy machine3.jpg" alt="error" class="df-img">
                <p> Furry Monster, Griptape, black<br>prezzo: € 13,99</p>
            </div>
            <div>
                <img src="static/immagini/grip toy machine4.jpg" alt="error" class="df-img">
                <p> Stoner TB, Griptape, black<br>prezzo: € 13,99 </p>
            </div>
            <div>
                <img src="static/immagini/grip toy machine5.jpg" alt="error" class="df-img">
                <p> Pen N Ink, Griptape, black<br>prezzo: € 13,99</p>
            </div>
            <div>
                <img src="static/immagini/grip toy machine6.jpg" alt="error" class="df-img">
                <p>Flies, Griptape, black <br>prezzo: € 13,99</p>
            </div>

        </div>


    </div>
</body>

</html>