<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="static/pagina2.css" rel="stylesheet">
        <link rel="stylesheet" href="static/tavola baker.css">
        <link rel="stylesheet" href="static/grid container {.css">
    </head>

<nav>
    <ul>
        <li><a href="/pagina8"><b>TORNA INDIETRO</b></a></li>
    </ul>
</nav>


<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="static/immagini/grip mob.jpg" alt="error" class="df-img">
                <p>MOB-black 9"/33", Griptape, black <br>prezzo: € 7,99 </p>
            </div>
            <div>
                <img src="static/immagini/grip mob2.jpg" alt="error" class="df-img">
                <p> Get Plaidical 5 PK Graphic Mob, Griptape, black-red<br>prezzo: € 65,99 </p>
            </div>
            <div>
                <img src="static/immagini/grip mob3.jpg" alt="error" class="df-img">
                <p>Samborghini, Griptape, rose <br>prezzo: € 15,99</p>
            </div>
            <div>
                <img src="static/immagini/grip mob4.jpg" alt="error" class="df-img">
                <p> Thrasher Japan Flame, Griptape, black-blue<br>prezzo: € 14,99 </p>
            </div>
            <div>
                <img src="static/immagini/grip mob5.jpg" alt="error" class="df-img">
                <p>Thrasher Gonz, Griptape, black<br>prezzo: € 14,99 </p>

            </div>
            <div>
                <img src="static/immagini/grip mob6.jpg" alt="error" class="df-img">
                <p> Bro Style Leaf, Griptape, black<br>prezzo: € 14,99 </p>
            </div>
            <div>
                <img src="static/immagini/grip mob7.jpg" alt="error" class="df-img">
                <p> Moob MOB Graphic Single Sheet, Griptape, white-black<br>prezzo: € 14,99</p>
            </div>
            <div>
                <img src="static/immagini/grip mob8.jpg" alt="error" class="df-img">
                <p>Brue, Griptape, black-yellow <br>prezzo: € 14,99 </p>
            </div>
       
        </div>


    </div>
</body>

</html>