<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="tavola baker.css">
    <link rel="stylesheet" href="grid container {.css">
</head>

<nav>
    <ul>
        <li><a href="pagina8.html"><b>BACK</b></a></li>
    </ul>
</nav>


<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="https://media.titus.de/media/image/2b/e9/b5/mob-griptape-griptape-mob-black-9-33-black-vorderansicht-0140703_600x600.jpg" alt="error" class="df-img">
                <p>MOB-black 9"/33", Griptape, black <br>prezzo: € 7,99 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/53/83/c8/mob-griptape-griptape-get-plaidical-5-pk-graphic-mob-black-red-vorderansicht-0142802_600x600.jpg" alt="error" class="df-img">
                <p> Get Plaidical 5 PK Graphic Mob, Griptape, black-red<br>prezzo: € 65,99 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/99/61/13/mob-griptape-griptape-samborghini-rose-vorderansicht-0142911_600x600.jpg" alt="error" class="df-img">
                <p>Samborghini, Griptape, rose <br>prezzo: € 15,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/bd/83/da/mob-griptape-griptape-thrasher-japan-flame-black-blue-vorderansicht-0142684_600x600.jpg" alt="error" class="df-img">
                <p> Thrasher Japan Flame, Griptape, black-blue<br>prezzo: € 14,99 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/d0/fc/89/mob-griptape-griptape-thrasher-gonz-black-vorderansicht-0142685_600x600.jpg" alt="error" class="df-img">
                <p>Thrasher Gonz, Griptape, black<br>prezzo: € 14,99 </p>

            </div>
            <div>
                <img src="https://media.titus.de/media/image/68/25/78/mob-griptape-griptape-bro-style-leaf-black-vorderansicht-0142862_600x600.jpg" alt="error" class="df-img">
                <p> Bro Style Leaf, Griptape, black<br>prezzo: € 14,99 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/c7/ce/d9/mob-griptape-griptape-moob-mob-graphic-single-sheet-white-black-vorderansicht-0142755_600x600.jpg" alt="error" class="df-img">
                <p> Moob MOB Graphic Single Sheet, Griptape, white-black<br>prezzo: € 14,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/59/78/30/mob-griptape-griptape-brue-black-yellow-vorderansicht-0142859_600x600.jpg" alt="error" class="df-img">
                <p>Brue, Griptape, black-yellow <br>prezzo: € 14,99 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/fc/45/98/mob-griptape-griptape-thrasher-yellow-and-orange-flame-black-yellow-vorderansicht-0142706_600x600.jpg" alt="error" class="df-img">
                <p>Thrasher Yellow and Orange Flame, Griptape, black-yellow <br>prezzo: € 14,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/b5/ab/b8/MOB-Griptape-Griptape-Thrasher-Big-Destroy-black-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p>Thrasher Big Destroy, Griptape, black <br>prezzo: € 14,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/e5/53/5e/mob-griptape-griptape-samborghini-eagle-vorderansicht-0142911_600x600.jpg" alt="error" class="df-img">
                <p>Samborghini, Griptape, eagle <br>prezzo: € 15,99</p>
            </div>
        </div>


    </div>
</body>

</html>