<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="static/pagina2.css" rel="stylesheet">
        <link rel="stylesheet" href="static/tavola baker.css">
        <link rel="stylesheet" href="static/grid container {.css">
    </head>

<nav>
    <ul>
        <li><a href="/pagina8"><b>TORNA INDIETRO</b></a></li>
    </ul>
</nav>


<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="static/immagini/grip grizzly.jpg" alt="error" class="df-img">
                <p> Two Faced, Griptape, green-yellow <br>prezzo: € 15,99</p>
            </div>
            <div>
                <img src="static/immagini/grip grizzly2.jpg" alt="error" class="df-img">
                <p>Two Faced, Griptape, red-blue <br>prezzo: € 15,99 </p>
            </div>
            <div>
                <img src="static/immagini/grip grizzly3.jpg" alt="error" class="df-img">
                <p>Mini Bear Cut Out, Griptape, black <br>prezzo: € 9,99</p>
            </div>
            <div>
                <img src="static/immagini/grip grizzly4.jpg" alt="error" class="df-img">
                <p>Stamp Print, Griptape, black-white<br>prezzo: € 13,99 </p>
            </div>
            <div>
                <img src="static/immagini/grip grizzly5.jpg" alt="error" class="df-img">
                <p> Monument, Griptape, multicolored<br>prezzo: € 15,99 </p>
            </div>
            <div>
                <img src="static/immagini/grip grizzly6.jpg" alt="error" class="df-img">
                <p> Smokey OG Bear, Griptape, black<br>prezzo: € 15,99 </p>
            </div>
            <div>
                <img src="static/immagini/grip grizzly7.jpg" alt="error" class="df-img">
                <p>Two Faced, Griptape, pink-purple <br>prezzo: € 15,99 </p>
            </div>
        </div>


    </div>
</body>

</html>