<html>
<head>
<title>Form-Login</title>
<link rel="stylesheet" href="/static/login.css" type="text/css" />
</head>
<body>
<div id="login"><div id="titolologin"><label>Login</label></div>
<form action="/" class="formlogin" method="post">
<label>Usename:</label>
<input type="email" name="email" pattern=".+@gmail\.com" size="30" required>
<label>Password:</label>
<input type = "password" name ="pwd" required/>
<a href="/register"><input type="button" class="button" id="register" name="Register" value="Register" /></a>
<input type="submit" class="button" name="submit" value="Login" />
</form>
</div>
</body>
</html>
