<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="static/pagina2.css" rel="stylesheet">
        <link rel="stylesheet" href="static/tavola baker.css">
        <link rel="stylesheet" href="static/grid container {.css">
    </head>

<nav>
    <ul>
        <li><a href="/pagina12"><b>TORNA INDIETRO</b></a></li>
    </ul>
</nav>


<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="static/immagini/magliette uomo baker.jpg" alt="error" class="df-img">
                <p>Block Buster, T-shirt, brown<br>prezzo: € 34,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/magliette uomo baker2.jpg" alt="error" class="df-img">
                <p>Rosy, T-shirt, white<br>prezzo: € 34,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/magliette uomo baker3.jpg" alt="error" class="df-img">
                <p>Cat Jr, T-shirt, black<br>prezzo: € 34,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/magliette uomo baker4.jpg" alt="error" class="df-img">
                <p>Brand Logo, T-shirt, black<br>prezzo: € 34,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/magliette uomo baker5.jpg" alt="error" class="df-img">
                <p>Impact, T-shirt, greyk<br>prezzo: € 34,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/magliette uomo baker6.jpg" alt="error" class="df-img">
                <p>Whatever Man, T-shirt, white<br>prezzo: € 34,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/magliette uomo baker7.jpg" alt="error" class="df-img">
                <p>Brand Logo, T-shirt, black<br>prezzo: € 34,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/magliette uomo baker8.jpg" alt="error" class="df-img">
                <p>Brand Logo, T-shirt, white<br>prezzo: € 34,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/magliette uomo baker9.jpg" alt="error" class="df-img">
                <p>Fried, T-shirt, pepper<br>prezzo: € 44,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/magliette uomo baker10.jpg" alt="error" class="df-img">
                <p>Chocolate Milk, T-shirt, white<br>prezzo: € 44,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/magliette uomo baker11.jpg" alt="error" class="df-img">
                <p>Foot In Mouth, T-shirt, white<br>prezzo: € 34,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/magliette uomo baker12.jpg" alt="error" class="df-img">
                <p>Brand Logo, T-shirt, white
                    € 39,99<br>prezzo: € 34,99<br>Size: S/M/L/XL</p>
            </div>
         
        </div>

    </div>
</body>
<footer>
    <p> El Allami Ali  - elallami.ali.nasr@iisgalvanimi.edu.it</p>
  </footer>
</html>