<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="static/pagina2.css" rel="stylesheet">
        <link rel="stylesheet" href="static/tavola baker.css">
        <link rel="stylesheet" href="static/grid container {.css">
    </head>

<nav>
    <ul>
        <li><a href="/pagina12"><b>TORNA INDIETRO</b></a></li>
    </ul>
</nav>


<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="https://media.titus.de/media/image/7d/81/5e/baker-t-shirts-block-buster-brown-vorderansicht-0325053_600x600.jpg" alt="error" class="df-img">
                <p>Block Buster, T-shirt, brown<br>prezzo: € 34,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/89/5b/6d/baker-t-shirts-rosy-white-vorderansicht-0325055_600x600.jpg" alt="error" class="df-img">
                <p>Rosy, T-shirt, white<br>prezzo: € 34,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/d1/39/c7/baker-t-shirts-cat-jr-black-vorderansicht-0325054_600x600.jpg" alt="error" class="df-img">
                <p>Cat Jr, T-shirt, black<br>prezzo: € 34,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/ae/23/bd/baker-t-shirts-brand-logo-black-vorderansicht-0383207_600x600.jpg" alt="error" class="df-img">
                <p>Brand Logo, T-shirt, black<br>prezzo: € 34,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/a3/e0/aa/baker-t-shirts-impact-grey-vorderansicht-0324723_600x600.jpg" alt="error" class="df-img">
                <p>Impact, T-shirt, greyk<br>prezzo: € 34,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/3d/a8/21/baker-t-shirts-whatever-man-white-vorderansicht-0324724_600x600.jpg" alt="error" class="df-img">
                <p>Whatever Man, T-shirt, white<br>prezzo: € 34,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/38/7c/d5/baker-t-shirts-brand-logo-black-vorderansicht-0322217_600x600.jpg" alt="error" class="df-img">
                <p>Brand Logo, T-shirt, black<br>prezzo: € 34,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/b3/e8/04/baker-t-shirts-brand-logo-white-vorderansicht-0322217_600x600.jpg" alt="error" class="df-img">
                <p>Brand Logo, T-shirt, white<br>prezzo: € 34,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/df/7d/4d/baker-t-shirts-fried-pepper-vorderansicht-0324722_600x600.jpg" alt="error" class="df-img">
                <p>Fried, T-shirt, pepper<br>prezzo: € 44,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/10/0e/39/baker-t-shirts-chocolate-milk-white-vorderansicht-0324113_600x600.jpg" alt="error" class="df-img">
                <p>Chocolate Milk, T-shirt, white<br>prezzo: € 44,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/81/00/f6/baker-t-shirts-foot-in-mouth-white-vorderansicht-0324114_600x600.jpg" alt="error" class="df-img">
                <p>Foot In Mouth, T-shirt, white<br>prezzo: € 34,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/f4/35/c2/baker-t-shirts-brand-logo-white-vorderansicht-0383207_600x600.jpg" alt="error" class="df-img">
                <p>Brand Logo, T-shirt, white
                    € 39,99<br>prezzo: € 34,99<br>Size: S/M/L/XL</p>
            </div>
         
            

        </div>


    </div>
</body>

</html>