<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="static/pagina2.css" rel="stylesheet">
        <link rel="stylesheet" href="static/tavola baker.css">
        <link rel="stylesheet" href="static/grid container {.css">
    </head>
<nav>
    <ul>
        <li><a href="/pagina12"><b>TORNA INDIETRO</b></a></li>
    </ul>
</nav>


<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="static/immagini/magliette uomo adida-skateboard.jpg" alt="error" class="df-img">
                <p> Json Dill, T-shirt, white-black<br>prezzo: € 14,35 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/magliette uomo adida-skateboard2.jpg" alt="error" class="df-img">
                <p>Shmoo, T-shirt, crewnavy <br>prezzo: € 29,99<br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/magliette uomo adida-skateboard3.jpg" alt="error" class="df-img">
                <p> Mini Shmoo, T-shirt, black-offwhite<br>prezzo: € 39,99<br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/magliette uomo adida-skateboard4.jpg" alt="error" class="df-img">
                <p>Mini Shmoo, T-shirt, carbon <br>prezzo: € 44,99<br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/magliette uomo adida-skateboard5.jpg" alt="error" class="df-img">
                <p> Mini Shmoo, T-shirt, hazeblue <br>prezzo:  € 39,99<br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/magliette uomo adida-skateboard6.jpg" alt="error" class="df-img">
                <p> Aero Club, T-shirt, black-white<br>prezzo: € 37,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/magliette uomo adida-skateboard7.jpg" alt="error" class="df-img">
                <p> GD Shmoo, T-shirt, white<br>prezzo: € 32,99<br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/magliette uomo adida-skateboard8.jpg" alt="error" class="df-img">
                <p> Brainwash Gonz Graphic, T-shirt, white<br>prezzo: € 29,99<br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/magliette uomo adida-skateboard9.jpg" alt="error" class="df-img">
                <p>GD Shmoo, T-shirt, navy <br>prezzo: € 32,99<br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/magliette uomo adida-skateboard10.jpg" alt="error" class="df-img">
                <p>4.0 Logo, T-shirt, black <br>prezzo:  € 29,99<br>size: S/M/L/XL</p>
            </div>
     

        </div>


    </div>
</body>
<footer>
    <p> El Allami Ali  - elallami.ali.nasr@iisgalvanimi.edu.it</p>
  </footer>
</html>