<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="static/pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="static/tavola baker.css">
    <link rel="stylesheet" href="static/grid container {.css">
</head>

<nav>
    <ul>
        <li><a href="/pagina12"><b>TORNA INDIETRO</b></a></li>
    </ul>
</nav>


<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="static/immagini/maglietta uomo nike sb.jpg" alt="error" class="df-img">
                <p> Luxury, T-shirt, black<br>prezzo: € 29,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/maglietta uomo nike sb2.jpg" alt="error" class="df-img">
                <p> Approach, T-shirt, black<br>prezzo: € 29,99 <br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/maglietta uomo nike sb3.jpg" alt="error" class="df-img">
                <p> Approach, T-shirt, noblegreen<br>prezzo: € 29,99 <br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/maglietta uomo nike sb4.jpg" alt="error" class="df-img">
                <p> Luxury, T-shirt, pomegranate<br>prezzo: € 29,99 <br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/maglietta uomo nike sb5.jpg" alt="error" class="df-img">
                <p>Bernard, T-shirt, white <br>prezzo: € 29,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/maglietta uomo nike sb6.jpg" alt="error" class="df-img">
                <p> Coney, T-shirt, white<br>prezzo: € 29,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/maglietta uomo nike sb.jpg" alt="error" class="df-img">
                <p>Header, T-shirt, midnightnavy <br>prezzo: € 29,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/maglietta uomo nike sb.jpg" alt="error" class="df-img">
                <p> Bernard, T-shirt, black<br>prezzo: € 29,99<br>Size: S/M/L/XL</p>
            </div>


        </div>


    </div>
</body>

</html>