<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="tavola baker.css">
    <link rel="stylesheet" href="grid container {.css">
</head>

<nav>
    <ul>
        <li><a href="pagina12.html"><b>BACK</b></a></li>
    </ul>
</nav>


<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="https://media.titus.de/media/image/89/e5/cb/thrasher-t-shirts-black-ice-black-vorderansicht-0322660_600x600.jpg" alt="error" class="df-img">
                <p>Black Ice, T-shirt, black<br>prezzo: € 39,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/d5/87/69/thrasher-t-shirts-vice-logo-navy-vorderansicht-0325067_600x600.jpg" alt="error" class="df-img">
                <p>Vice Logo, T-shirt, navy<br>prezzo: € 39,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/80/54/05/Thrasher-T-Shirts-Gonz-white-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p>Gonz, T-shirt, white<br>prezzo: € 39,99  <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/78/11/77/thrasher-t-shirts-godzilla-burst-navy-vorderansicht-0325065_600x600.jpg" alt="error" class="df-img">
                <p>Godzilla Burst, T-shirt, navy<br>prezzo: € 39,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/76/22/e6/thrasher-t-shirts-low-low-logo-maroon-vorderansicht-0325066_600x600.jpg" alt="error" class="df-img">
                <p>Low Low Logo, T-shirt, maroon<br>prezzo: € 39,99  <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/e9/6c/18/thrasher-t-shirts-godzilla-charred-black-vorderansicht-0324220_600x600.jpg" alt="error" class="df-img">
                <p>Godzilla Charred, T-shirt, black<br>prezzo: € 39,99  <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/d4/7c/27/thrasher-t-shirts-skate-mag-gold-vorderansicht-0038081_600x600.jpg" alt="error" class="df-img">
                <p>Skate-Mag, T-shirt, gold<br>prezzo: € 34,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/b1/98/ef/Thrasher-T-Shirts-Outlined-black-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p>Outline, T-shirt, black<br>prezzo: € 39,99  <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/89/39/09/thrasher-t-shirts-blood-drip-black-vorderansicht-0324222_600x600.jpg" alt="error" class="df-img">
                <p>Blood Drip, T-shirt, black<br>prezzo: € 39,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/f0/e0/c5/thrasher-t-shirts-40-year-neckface-orange-vorderansicht-0323415_600x600.jpg" alt="error" class="df-img">
                <p>40 Year Neckface, T-shirt, orange <br>prezzo: € 37,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/55/99/1d/thrasher-t-shirts-future-logo-black-vorderansicht-0325064_600x600.jpg" alt="error" class="df-img">
                <p>Future Logo, T-shirt, black<br>prezzo: € 39,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/1b/75/6a/thrasher-t-shirts-skate-goat-white-vorderansicht-0037028_600x600.jpg" alt="error" class="df-img">
                <p>Skate Goat, T-shirt, white<br>prezzo:  € 39,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/b1/e6/e1/thrasher-t-shirts-40-years-black-vorderansicht-0324065_600x600.jpg" alt="error" class="df-img">
                <p>40 Years, T-shirt, black<br>prezzo: € 39,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/0e/06/7b/thrasher-t-shirts-truck-1-maroon-vorderansicht-0323417_600x600.jpg" alt="error" class="df-img">
                <p>Truck 1, T-shirt, maroon<br>prezzo: € 37,99 <br>size: S/M/L/XL</p>
            </div>

        </div>


    </div>
</body>

</html>