<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="tavola baker.css">
    <link rel="stylesheet" href="grid container {.css">
</head>

<nav>
    <ul>
        <li><a href="pagina12.html"><b>BACK</b></a></li>
    </ul>
</nav>


<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="https://media.titus.de/media/image/92/6a/76/adidas-skateboarding-t-shirts-json-dill-white-black-vorderansicht-0324469_600x600.jpg" alt="error" class="df-img">
                <p> Json Dill, T-shirt, white-black<br>prezzo: € 14,35 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/c2/39/4e/adidas-skateboarding-t-shirts-shmoo-crewnavy-vorderansicht-0320652_600x600.jpg" alt="error" class="df-img">
                <p>Shmoo, T-shirt, crewnavy <br>prezzo: € 29,99<br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/1b/dd/0d/adidas-skateboarding-t-shirts-mini-shmoo-black-offwhite-vorderansicht-0321735_600x600.jpg" alt="error" class="df-img">
                <p> Mini Shmoo, T-shirt, black-offwhite<br>prezzo: € 39,99<br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/39/f2/28/adidas-skateboarding-t-shirts-mini-shmoo-carbon-vorderansicht-0321735_600x600.jpg" alt="error" class="df-img">
                <p>Mini Shmoo, T-shirt, carbon <br>prezzo: € 44,99<br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/5c/a2/b2/GL9937_APP_on-model_walking_gradient_600x600.jpg" alt="error" class="df-img">
                <p> Mini Shmoo, T-shirt, hazeblue <br>prezzo:  € 39,99<br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/58/44/1d/GL5420_APP_on-model_standard_gradient_600x600.jpg" alt="error" class="df-img">
                <p> Aero Club, T-shirt, black-white<br>prezzo: € 37,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/78/4d/c1/GR8803_APP_on-model_standard_gradient_600x600.jpg" alt="error" class="df-img">
                <p> GD Shmoo, T-shirt, white<br>prezzo: € 32,99<br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/db/74/a1/adidas-skateboarding-t-shirts-brainwash-gonz-graphic-white-vorderansicht-0323256_600x600.jpg" alt="error" class="df-img">
                <p> Brainwash Gonz Graphic, T-shirt, white<br>prezzo: € 29,99<br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/c6/c3/38/GR8804_APP_on-model_standard_gradient_600x600.jpg" alt="error" class="df-img">
                <p>GD Shmoo, T-shirt, navy <br>prezzo: € 32,99<br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/a5/68/b6/GM5177_APP_on-model_back_gradient_600x600.jpg" alt="error" class="df-img">
                <p>4.0 Logo, T-shirt, black <br>prezzo:  € 29,99<br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/9e/51/46/GL9975_APP_on-model_standard_gradient_600x600.jpg" alt="error" class="df-img">
                <p> Gonz Graphic, T-shirt, mediumgreyheather<br>prezzo: € 29,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/3e/b8/19/GL9957_APP_on-model_standard_gradient_600x600.jpg" alt="error" class="df-img">
                <p> Shmoo, T-shirt, white<br>prezzo: € 29,99<br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/87/a5/b0/adidas-skateboarding-t-shirts-zander-g-white-vorderansicht-0324106_600x600.jpg" alt="error" class="df-img">
                <p>Zander G, T-shirt, white <br>prezzo: € 32,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/a6/4c/f6/adidas-skateboarding-t-shirts-2-0-logo-white-vorderansicht-0323250_600x600.jpg" alt="error" class="df-img">
                <p>2.0 Logo, T-shirt, white<br>prezzo: € 29,99  <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/31/00/4d/GP1514_APP_on-model_back_gradient_600x600.jpg" alt="error" class="df-img">
                <p> 4.0 Logo, T-shirt, crewnavy<br>prezzo: € 29,99<br>size: S/M/L/XL</p>
            </div>

        </div>


    </div>
</body>

</html>