<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="static/pagina2.css" rel="stylesheet">
        <link rel="stylesheet" href="static/tavola baker.css">
        <link rel="stylesheet" href="static/grid container {.css">
    </head>

<nav>
    <ul>
        <li><a href="/pagina12"><b>TORNA INDIETRO</b></a></li>
    </ul>
</nav>


<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="static/immagini/magliette uomo thrasher.jpg" alt="error" class="df-img">
                <p>Black Ice, T-shirt, black<br>prezzo: € 39,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/magliette uomo thrasher2.jpg" alt="error" class="df-img">
                <p>Vice Logo, T-shirt, navy<br>prezzo: € 39,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/magliette uomo thrasher3.jpg" alt="error" class="df-img">
                <p>Gonz, T-shirt, white<br>prezzo: € 39,99  <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/magliette uomo thrasher4.jpg" alt="error" class="df-img">
                <p>Godzilla Burst, T-shirt, navy<br>prezzo: € 39,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/magliette uomo thrasher5.jpg" alt="error" class="df-img">
                <p>Low Low Logo, T-shirt, maroon<br>prezzo: € 39,99  <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/magliette uomo thrasher6.jpg" alt="error" class="df-img">
                <p>Godzilla Charred, T-shirt, black<br>prezzo: € 39,99  <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/magliette uomo thrasher7.jpg" alt="error" class="df-img">
                <p>Skate-Mag, T-shirt, gold<br>prezzo: € 34,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/magliette uomo thrasher8.jpg" alt="error" class="df-img">
                <p>Outline, T-shirt, black<br>prezzo: € 39,99  <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/magliette uomo thrasher9.jpg" alt="error" class="df-img">
                <p>Blood Drip, T-shirt, black<br>prezzo: € 39,99 <br>size: S/M/L/XL</p>
            </div>

        </div>


    </div>
</body>

</html>