<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="static/pagina2.css" rel="stylesheet">
        <link rel="stylesheet" href="static/tavola baker.css">
        <link rel="stylesheet" href="static/grid container {.css">
    </head>

<nav>
    <ul>
        <li><a href="/pagina12"><b>TORNA INDIETRO</b></a></li>
    </ul>
</nav>


<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="https://media.titus.de/media/image/c8/84/d6/anti-hero-t-shirts-eagle-black-multicolored-vorderansicht-0036324_600x600.jpg" alt="error" class="df-img">
                <p>Eagle, T-shirt, black-multicolored<br>prezzo: € 34,99 <br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/9b/d6/97/anti-hero-t-shirts-stay-ready-dbl-charcoal-vorderansicht-0325060_600x600.jpg" alt="error" class="df-img">
                <p>Stay Ready DBL, T-shirt, charcoal <br>prezzo:  € 39,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/bf/e2/ef/anti-hero-t-shirts-basic-eagle-greyheather-vorderansicht-0394793_600x600.jpg" alt="error" class="df-img">
                <p>Basic Eagle, T-shirt, greyheather <br>prezzo: € 34,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/ae/29/68/anti-hero-t-shirts-lil-black-hero-outline-black-grey-vorderansicht-0324703_600x600.jpg" alt="error" class="df-img">
                <p> Lil Black Hero Outline, T-shirt, black-grey<br>prezzo: € 34,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/a8/e2/20/anti-hero-t-shirts-basic-eagle-chest-white-gold-green-vorderansicht-0323190_600x600.jpg" alt="error" class="df-img">
                <p> Basic Eagle Chest, T-shirt, white-gold-green <br>prezzo: € 34,99 <br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/e3/a7/da/anti-hero-t-shirts-outline-hero-slate-white-vorderansicht-0323191_600x600.jpg" alt="error" class="df-img">
                <p>Outline Hero, T-shirt, slate-white <br>prezzo:  € 34,99 <br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/42/5a/4a/anti-hero-t-shirts-curb-riot-cream-black-vorderansicht-0323153_600x600.jpg" alt="error" class="df-img">
                <p>Curb Riot, T-shirt, cream-black <br>prezzo: € 34,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/6b/4a/89/anti-hero-t-shirts-ft-s-cream-vorderansicht-0324702_600x600.jpg" alt="error" class="df-img">
                <p>FT's, T-shirt, cream <br>prezzo: € 34,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/d2/88/fc/anti-hero-t-shirts-lil-pigeon-white-vorderansicht-0321010_600x600.jpg" alt="error" class="df-img">
                <p>Lil Pigeon, T-shirt, white <br>prezzo: € 34,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/27/c5/04/anti-hero-t-shirts-eagle-militarygreen-multicolor-vorderansicht-0036324_600x600.jpg" alt="error" class="df-img">
                <p>Eagle, T-shirt, militarygreen-multicolor <br>prezzo: € 34,99 <br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/e4/31/64/anti-hero-t-shirts-reserve-charcoal-red-vorderansicht-0399583_600x600.jpg" alt="error" class="df-img">
                <p>Reserve, T-shirt, charcoal-red <br>prezzo: € 34,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/b2/7d/48/anti-hero-t-shirts-reserve-ashheather-vorderansicht-0399583_600x600.jpg" alt="error" class="df-img">
                <p>Reserve, T-shirt, ashheather <br>prezzo: € 39,99<br>Size: S/M/L/XL</p>
            </div>
           
            

        </div>


    </div>
</body>

</html>