<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="tavola baker.css">
    <link rel="stylesheet" href="grid container {.css">
</head>

<nav>
    <ul>
        <li><a href="pagina12.html"><b>BACK</b></a></li>
    </ul>
</nav>


<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="https://media.titus.de/media/image/c8/85/18/nike-sb-t-shirts-luxury-black-vorderansicht-0324550_600x600.jpg" alt="error" class="df-img">
                <p> Luxury, T-shirt, black<br>prezzo: € 29,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/g0/c4/1c/nike-sb-t-shirts-approach-black-vorderansicht-0324551_600x600.jpg" alt="error" class="df-img">
                <p> Approach, T-shirt, black<br>prezzo: € 29,99 <br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/af/ef/cc/nike-sb-t-shirts-approach-noblegreen-vorderansicht-0324551_600x600.jpg" alt="error" class="df-img">
                <p> Approach, T-shirt, noblegreen<br>prezzo: € 29,99 <br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/85/8b/16/nike-sb-t-shirts-luxury-pomegranate-vorderansicht-0324550_600x600.jpg" alt="error" class="df-img">
                <p> Luxury, T-shirt, pomegranate<br>prezzo: € 29,99 <br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/bf/73/f2/nike-sb-t-shirts-bernard-white-vorderansicht-0324552_600x600.jpg" alt="error" class="df-img">
                <p>Bernard, T-shirt, white <br>prezzo: € 29,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/ed/7c/b9/DJ1224-100-PHSFM001-2000_600x600.png" alt="error" class="df-img">
                <p> Coney, T-shirt, white<br>prezzo: € 29,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/d7/7d/90/DJ1239-410-PHSFM001-2000_600x600.png" alt="error" class="df-img">
                <p>Header, T-shirt, midnightnavy <br>prezzo: € 29,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/09/c0/f1/nike-sb-t-shirts-bernard-black-vorderansicht-0324552_600x600.jpg" alt="error" class="df-img">
                <p> Bernard, T-shirt, black<br>prezzo: € 29,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/84/f6/6f/nike-sb-t-shirts-mosaic-black-vorderansicht-0324179_600x600.jpg" alt="error" class="df-img">
                <p>Mosaic, T-shirt, black<br>prezzo: € 29,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/ed/3a/ec/DC7817-100-PHSFM001-2000_600x600.png" alt="error" class="df-img">
                <p>Mini Icon Logo, T-shirt, white-black <br>prezzo: € 29,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/74/b6/b0/nike-sb-t-shirts-classic-gfx-black-vorderansicht-0323423_600x600.jpg" alt="error" class="df-img">
                <p> Classic GFX, T-shirt, black<br>prezzo: € 29,99<br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/7f/e0/f4/nike-sb-t-shirts-dft-icon-logo-black-white-vorderansicht-0394809_600x600.jpg" alt="error" class="df-img">
                <p>DFT Icon Logo, T-shirt, black-white<br>prezzo: € 29,99  <br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/64/62/00/nike-sb-t-shirts-yd-stripe-midnightnavy-vorderansicht-0323965_600x600.jpg" alt="error" class="df-img">
                <p> YD Stripe, T-shirt, midnightnavy<br>prezzo: € 29,99  <br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/ea/d8/8c/nike-sb-t-shirts-daan-white-vorderansicht-0323968_600x600.jpg" alt="error" class="df-img">
                <p> Daan, T-shirt, white<br>prezzo: € 29,99  <br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/53/28/a2/nike-sb-t-shirts-mini-icon-logo-black-white-vorderansicht-0323426_600x600.jpg" alt="error" class="df-img">
                <p>Force, T-shirt, black<br>prezzo: € 29,99  <br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/bf/2d/b4/nike-sb-t-shirts-force-black-vorderansicht-0321788_600x600.jpg " alt="error" class="df-img">
                <p> <br>prezzo: € 29,99  <br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/89/4f/1d/nike-sb-t-shirts-artist-2-white-rueckenansicht-0323198_600x600.jpg" alt="error" class="df-img">
                <p>Artist 2, T-shirt, white<br>prezzo: € 34,99 <br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/8f/ed/df/nike-sb-t-shirts-dft-icon-logo-fossil-vorderansicht-0394809_600x600.jpg" alt="error" class="df-img">
                <p> DFT Icon Logo, T-shirt, fossi<br>prezzo: € 29,99 <br>Size: S/M/L/XL</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/19/ef/fb/nike-sb-t-shirts-force-vastgrey-vorderansicht-0321788_600x600.jpg" alt="error" class="df-img">
                <p>Force, T-shirt, vastgrey <br>prezzo: € 29,99 <br>Size: S/M/L/XL</p>
            </div>


        </div>


    </div>
</body>

</html>