<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <title>Titolo pagina sito web</title>
    <link href="static/pagina.css" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet">
</head>

<body>
    <header>
        <img src="https://thumbs.dreamstime.com/b/skateboard-shop-badge-emblem-design-vector-skateboard-shop-badge-emblem-design-166492408.jpg" />
        <h1>SKATEBOARD</h1>
        <h2>SKATE</h2>
    </header>
    <nav>
        <ul>
            <li><a href="/come nasce lo skate1">Come nasce lo skate</a></li>
            <li><a href="/come scegliere un setup">come scegliere un setup</a></li>
            <li><a href="#">setup skate</a>


                <body>
                    <ul>
                        <li>
                            <a href="pagina2.html">Tavole</a>
                        </li>
                        <li>
                            <a href="pagina3.html">Truck</a>
                        </li>
                        <li>
                            <a href="./pagina4.html">Ruote</a>
                        </li>
                        <li>
                            <a href="./pagina5.html">Cuscinetti</a>
                        </li>
                        <li>
                            <a href="tool.html">Tool</a>
                        </li>
                        <li>
                            <a href="./skateboard%20completi.html">Skateboard Completi</a>
                        </li>

                    </ul>
                </body>
            </li>
            <li><a href="#">Accessori</a>

                <body>
                    <ul>
                        <li>
                            <a href="pagina8.html">Grip </a>
                        </li>
                        <li>
                            <a href="pagina9.html">Viti e Bulloni </a>
                        </li>
                        <li>
                            <a href="pagina10.html">Gommini </a>
                        </li>
                        <li>
                            <a href="cera skate.html">Cera </a>
                        </li>
                    </ul>
                </body>
            </li>
            <li>
                <a href="#">Protezioni</a>

                <body>
                    <ul>
                        <li>
                            <a href="caschi.html">Caschi</a>
                        </li>
                        <li>
                            <a href="ginocchiere.html">Ginocchiere</a>
                        </li>
                        <li>
                            <a href="crashpants.html">Crashpants</a>
                        </li>
                        <li>
                            <a href="polsiere.html">Polsiere</a>
                        </li>
                        <li>
                            <a href="gomitiere.html">Gomitiere</a>
                        </li>
                        <li>
                            <a href="setup protezioni.html">Setup Protezioni</a>
                        </li>
                    </ul>
                </body>
            </li>
            <li><a href="#">abbigliamento uomo</a>
                <body>
                    <ul>
                        <li>
                            <a href="pagina12.html">Magliette</a>
                        </li>
                        <li>
                            <a href="#">Ginocchiere</a>
                        </li>
                        <li>
                            <a href="#">Crashpants</a>
                        </li>
                        <li>
                            <a href="#">Polsiere</a>
                        </li>
                        <li>
                            <a href="#">Gomitiere</a>
                        </li>
                        <li>
                            <a href="#">Setup Protezioni</a>
                        </li>
                    </ul>
                </body>
        </ul>
    </nav>

    <section>

        <article>
            <header>
                <h1>SKATE</h1>
            </header>

            <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShqxN2fu58fvXOlaU-QwPEdTJXvFUKSNVELg&usqp=CAU' <h1></h1>
        </article>
    </section>


</body>

</html>