<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <title>Titolo pagina sito web</title>
    <link href="static/pagina.css" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet">
</head>

<body>
    <header>
        <img src="https://thumbs.dreamstime.com/b/skateboard-shop-badge-emblem-design-vector-skateboard-shop-badge-emblem-design-166492408.jpg" />
        <h1>SKATEBOARD</h1>
        <h2>SKATE</h2>
    </header>
    <nav>
        <ul>
            <li><a href="/come nasce lo skate1">Come nasce lo skate</a></li>
            <li><a href="/come scegliere un setup">come scegliere un setup</a></li>
            <li><a href="#">setup skate</a>


                <body>
                    <ul>
                        <li>
                            <a href="/pagina2">Tavole</a>
                        </li>
                        <li>
                            <a href="/pagina3">Truck</a>
                        </li>
                        <li>
                            <a href="/pagina4">Ruote</a>
                        </li>
                        <li>
                            <a href="/pagina5">Cuscinetti</a>
                        </li>
                        <li>
                            <a href="/tool">Tool</a>
                        </li>

                    </ul>
                </body>
            </li>
            <li><a href="#">Accessori</a>

                <body>
                    <ul>
                        <li>
                            <a href="/pagina8">Grip </a>
                        </li>
                        <li>
                            <a href="/pagina9">Viti e Bulloni </a>
                        </li>
                        <li>
                            <a href="/pagina10">Gommini </a>
                        </li>
                        <li>
                            <a href="/cera skate">Cera </a>
                        </li>
                    </ul>
                </body>
            </li>
            <li>
                <a href="#">Protezioni</a>

                <body>
                    <ul>
                        <li>
                            <a href="/caschi">Caschi</a>
                        </li>
                        <li>
                            <a href="/ginocchiere">Ginocchiere</a>
                        </li>
                        <li>
                            <a href="/crashpants">Crashpants</a>
                        </li>
                        <li>
                            <a href="/polsiere">Polsiere</a>
                        </li>
                        <li>
                            <a href="/gomitiere">Gomitiere</a>
                        </li>
                        <li>
                            <a href="/setup protezioni">Setup Protezioni</a>
                        </li>
                    </ul>
                </body>
            </li>
            <li><a  href="/pagina12">Magliette Uomo</a>
        </ul>
    </nav>

    <section>

        <article>
            <header>
                <h1>SKATE</h1>
            </header>

            <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShqxN2fu58fvXOlaU-QwPEdTJXvFUKSNVELg&usqp=CAU' <h1></h1>
        </article>
    </section>


</body>
<footer>
    <p> El Allami Ali  - elallami.ali.nasr@iisgalvanimi.edu.it</p>
  </footer>
</html>