<form action="/register" method = "POST">
    <p>name <input type = "text" name = "name" required/></p>
    <p>surname <input type = "text" name = "surname" required/></p>
    <p>Email<input type="email" name="email" pattern=".+@gmail\.com" size="30" required></p>
    <p>Password <input type = "password" name = "pwd" required/></p>
    <p>Confirm Password <input type = "password" name = "cpwd" required/></p>
    <p><input type = "submit" value = "Submit"/></p>
    <p><a href="/">Hai già effettuato l'accesso?Effettua il Login!</a></p>
</form>
