<html>
<head>
<title>Form-Register</title>
<link rel="stylesheet" href="/static/login.css" type="text/css" />
</head>
<body>
<div id="login"><div id="titolologin"><label>Register</label></div>
<form action="#" class="formlogin" method="post">
<label>name:</label>
<input type = "text" name = "name" required/></p>
<label>surname:</label>
<input type = "text" name = "surname" required/></p>
<label>Email:</label>
<input type="email" name="email" pattern=".+@gmail\.com", size="30" required></p>
<label>Password:</label>
<input type = "password" name = "pwd" required/></p>
<label>Confirm Password:</label>
<input type = "password" name = "cpwd" required/></p>
<a href="/"><input type="button" class="button" id="register" name="Register" value="HOME" /></a>
<input type="submit" class="button" name="submit" value="Login" />
</form>
</div>
</body>
</html>
