<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="static/pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="static/tavola baker.css">
    <link rel="stylesheet" href="static/grid container {.css">
</head>

<nav>
    <ul>
        <li><a href="/pagina4"><b>TORNA INDIETRO</b></a></li>
    </ul>
</nav>

<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="https://media.titus.de/media/image/2c/7d/f9/oj-wheels-rollen-elite-nomads-95a-oj-white-black-gold-vorderansicht-0135183_600x600.jpg" alt="error" class="df-img">
                <p>Elite Nomads 95a OJ, Ruote, white-black-gold<br>prezzo:€ 47,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/9a/b5/de/oj-wheels-rollen-curbsucker-bloodsuckers-97a-red-vorderansicht-0135184_600x600.jpg" alt="error" class="df-img">
                <p>Curbsucker Bloodsuckers 97a, Ruote, red<br>prezzo:€ 47,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/a2/d8/35/oj-wheels-rollen-60mm-super-juice-yellow-78a-yellow-vorderansicht-0135182_600x600.jpg" alt="error" class="df-img">
                <p> Super Juice Yellow 78a, Ruote, yellow<br>prezzo:€ 47,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/99/4b/32/oj-wheels-rollen-56mm-axel-crusher-ramen-original-mini-combo-99a-white-vorderansicht-0135178_600x600.jpg" alt="error" class="df-img">
                <p> Axel Crusher Ramen Original Mini Combo 99a, Ruote, white<br>prezzo:€ 47,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/00/5c/47/oj-wheels-rollen-60mm-super-juice-cmyk-78a-black-vorderansicht-0135185_600x600.jpg" alt="error" class="df-img">
                <p> Super Juice CMYK 78a, Ruote, black<br>prezzo:€ 47,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/d4/bd/f9/oj-wheels-rollen-55mm-mini-super-juice-orange-black-78a-orange-black-vorderansicht-0135186_600x600.jpg" alt="error" class="df-img">
                <p>Mini Super Juice Orange Black 78a, Ruote, orange-black<br>prezzo:€ 47,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/0b/0a/7c/oj-wheels-rollen-54mm-jordan-taylor-original-hardline-99a-white-vorderansicht-0135180_600x600.jpg" alt="error" class="df-img">
                <p> Jordan Taylor Original Hardline 99a, Ruote, white<br>prezzo:€ 47,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/34/bd/df/oj-wheels-rollen-60mm-blues-super-juice-78a-blue-vorderansicht-0135181_600x600.jpg" alt="error" class="df-img">
                <p>Blues Super Juice 78a, Ruote, blue<br>prezzo:€ 47,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/91/ce/ec/oj-wheels-rollen-56mm-ryan-townley-elite-mini-combo-101a-white-vorderansicht-0135177_600x600.jpg" alt="error" class="df-img">
                <p> Ryan Townley Elite Mini Combo 101a, Ruote, white<br>prezzo:€ 47,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/0a/82/85/oj-wheels-rollen-56mm-kimbel-kegger-barrel-elite-mini-combo-101a-oj-white-vorderansicht-0135176_600x600.jpg" alt="error" class="df-img">
                <p> Kimbel Kegger Barrel Elite Mini Combo 101a OJ, Ruote, white<br>prezzo:€ 47,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/ef/52/5c/oj-wheels-rollen-56mm-martinez-craneo-elite-hardline-101a-white-vorderansicht-0135179_600x600.jpg" alt="error" class="df-img">
                <p> Martinez Craneo Elite Hardline 101a, Ruote, white<br>prezzo:€ 47,99</p>
            </div>
        </div>

    </div>

</body>

</html>