<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="static/pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="static/tavola baker.css">
    <link rel="stylesheet" href="static/grid container {.css">
</head>

<nav>
    <ul>
        <li><a href="/pagina4"><b>TORNA INDIETRO</b></a></li>
    </ul>
</nav>

<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="https://media.titus.de/media/image/02/be/67/bones-wheels-rollen-stf-ghosted-103a-v5-sidecut-white-vorderansicht-0135540_600x600.jpg" alt="error" class="df-img">
                <p>STF Ghosted 103A V5 Sidecut, Ruote, white<br>prezzo: € 59,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/e1/cd/a4/bones-wheels-rollen-stf-iron-sun-99a-v1-standard-white-vorderansicht-0135470_600x600.jpg" alt="error" class="df-img">
                <p>STF Iron Sun 99A V1 Standard, Ruote, white<br>prezzo:€ 54,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/9c/ae/d3/bones-wheels-rollen-stf-gustavo-notorious103a-v1-standard-white-vorderansicht-0135354_600x600.jpg" alt="error" class="df-img">
                <p>STF Gustavo Notorious103A V1 Standard, Ruote, white<br>prezzo:€ 54,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/ea/4d/88/bones-wheels-rollen-stf-homoki-down-4-life-103a-v5-sidecut-white-vorderansicht-0135359_600x600.jpg" alt="error" class="df-img">
                <p>STF Homoki Down 4 Life 103A V5 Sidecut, Ruote, white<br>prezzo:€ 54,99 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/d7/ab/f1/bones-wheels-rollen-100-s-og-17-v1-100a-orange-vorderansicht-0134327_600x600.jpg" alt="error" class="df-img">
                <p>100's OG #17 V1 100A, Ruote, orange<br>prezzo: € 34,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/21/4d/8a/bones-wheels-rollen-stf-mcclain-apocalypse-99a-v5-sidecut-white-vorderansicht-0135364_600x600.jpg" alt="error" class="df-img">
                <p>STF McClain Apocalypse 99A V5 Sidecut, Ruote, white<br>prezzo: € 54,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/25/f4/a1/bones-wheels-rollen-stf-tucker-big-fish-103a-v1-standard-white-vorderansicht-0135356_600x600.jpg" alt="error" class="df-img">
                <p>STF Tucker Big Fish 103A V1 Standard, Ruote, white<br>prezzo:€ 54,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/54/1f/ca/bones-wheels-rollen-stf-heritage-series-roots-99a-v5-sidecut-white-vorderansicht-0135413_600x600.jpg" alt="error" class="df-img">
                <p>STF Heritage Series Roots 99A V5 Sidecut, Ruote, white<br>prezzo:€ 54,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/77/6a/da/bones-wheels-rollen-stf-heritage-series-boneless-103a-v1-standard-white-vorderansicht-0135414_600x600.jpg" alt="error" class="df-img">
                <p>STF Heritage Series Boneless 103A V1 Standard, Ruote, white<br>prezzo:€ 54,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/c6/59/9a/bones-wheels-rollen-stf-reyes-pipin-hot-99a-v6-wide-cut-white-vorderansicht-0135365_600x600.jpg" alt="error" class="df-img">
                <p>STF Reyes Pipin Hot 99A V6 Wide Cut, Ruote, white<br>prezzo:€ 54,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/87/ec/g0/bones-wheels-rollen-100-s-og-4-v5-sidecut-100a-black-purple-vorderansicht-0135063_600x600.jpg" alt="error" class="df-img">
                <p>100's OG #4 V5 Sidecut 100A, Ruote, black-purple<br>prezzo:€ 34,99</p>
            </div>
        </div>

    </div>

</body>

</html>