<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="static/pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="static/tavola baker.css">
    <link rel="stylesheet" href="static/grid container {.css">
</head>

<nav>
    <ul>
        <li><a href="/HOME"><b>HOME</b></a></li>
    </ul>
</nav>

<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="static/immagini/setup protezioni.jpg" alt="error" class="df-img">
                <p>Basic Set, Set di protezioni, black<br>prezzo: € 59,99<br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/setup protezioni2.jpg" alt="error" class="df-img">
                <p>Junior Set, Set di protezioni, black <br>prezzo: € 49,99<br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/setup protezioni3.jpg" alt="error" class="df-img">
                <p>Junior Set, Set di protezioni, red-white-blue<br>prezzo: € 54,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/setup protezioni4.jpg" alt="error" class="df-img">
                <p>Basic Set, Set di protezioni, nightblue-duskyellow<br>prezzo: € 64,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/setup protezioni5.jpg" alt="error" class="df-img">
                <p>Protective Set, Set di protezioni, marawa-rosegold<br>prezzo: € 49,99 <br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/setup protezioni6.jpg" alt="error" class="df-img">
                <p>Protective Set, Set di protezioni, skyblue-yellow <br>prezzo: € 44,99<br>size: S/M/L/XL</p>
            </div>
            <div>
                <img src="static/immagini/setup protezioni7.jpg" alt="error" class="df-img">
                <p>Adult Set, Set di protezioni, black € 49,99<br>prezzo: € 49,99<br>size: M/L/XL</p>
            </div>
        </div>

    </div>
</body>
<footer>
    <p> El Allami Ali  - elallami.ali.nasr@iisgalvanimi.edu.it</p>
  </footer>
</html>