<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="tavola baker.css">
    <link rel="stylesheet" href="grid container {.css">
</head>

<nav>
    <ul>
        <li><a href="pagina1.html"><b>BACK</b></a></li>
    </ul>
</nav>

<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="https://media.titus.de/media/image/af/f4/d9/Element-Skateboard-komplett-Section-black-red-white-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p><br>
                    <h2>Element </h2><br> Section Skateboard completo, black-red-white <br>prezzo: € 99,99
                </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/97/01/ee/santa-cruz-skateboard-komplett-flier-dot-full-sk8-lightblue-pink-vorderansicht-0162884_600x600.jpg" alt="error" class="df-img">
                <p><br>
                    <h2>Santa-Cruz </h2><br> Flier Dot Full Sk8, Skateboard completo, lightblue-pink <br>prezzo: € 124,99
                </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/e8/98/09/santa-cruz-skateboard-komplett-flier-hand-large-sk8-black-green-vorderansicht-0162883_600x600.jpg" alt="error" class="df-img">
                <p><br>
                    <h2>Santa-Cruz</h2> <br> Flier Hand Large Sk8, Skateboard completo, black-green <br>prezzo: € 124,99
                </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/43/04/69/titus-skateboard-komplett-geo-premium-black-vorderansicht-0162224_600x600.jpg" alt="error" class="df-img">
                <p><br>
                    <h2>TITUS</h2> <br> Geo Premium, Skateboard completo, black<br>prezzo: € 129,99
                </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/86/31/07/blind-skateboard-komplett-bust-out-reaper-fp-soft-wheels-white-vorderansicht-0162942_600x600.jpg" alt="error" class="df-img">
                <p><br>
                    <h2>Blind</h2> <br>Bust Out Reaper FP Soft Wheels, Skateboard completo, white<br>prezzo: € 99,99
                </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/dc/43/6e/titus-skateboard-komplett-stained-schranz-black-stained-vorderansicht-0162134_600x600.jpg" alt="error" class="df-img">
                <p><br>
                    <h2>TITUS</h2> <br> Stained Schranz, Skateboard completo, black-stained <br>prezzo: € 99,99
                </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/dd/88/5a/almost-skateboard-komplett-blur-multicolored-vorderansicht-0162940_600x600.jpg" alt="error" class="df-img">
                <p><br>
                    <h2>Almost</h2> <br> Blur, Skateboard completo, multicolored<br>prezzo: € 109,99
                </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/85/03/4c/jart-skateboard-komplett-classic-ii-red-black-vorderansicht-0162283_600x600.jpg" alt="error" class="df-img">
                <p><br>
                    <h2>JART</h2> <br> Classic II, Skateboard completo, red-black<br>prezzo: € 109,99
                </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/77/d3/01/birdhouse-skateboard-komplett-plague-doctor-black-vorderansicht-0162060_600x600.jpg" alt="error" class="df-img">
                <p><br>
                    <h2>Birdhouse</h2> <br> Stage 3 Plague Doctor, Skateboard completo, black€ <br>prezzo: € 99,99
                </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/3b/f5/11/enjoi-skateboard-komplett-panda-stripes-resin-soft-wheels-multicolored-vorderansicht-0162944_600x600.jpg" alt="error" class="df-img">
                <p><br>
                    <h2>Enjoi</h2> <br>Panda Stripes Resin Soft Wheels, Skateboard completo, multicolored<br>prezzo: € 109,99
                </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/f8/f0/0e/TITUS-Skateboard-komplett-Spraystencil-black-white-black-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p><br>
                    <h2>TITUS</h2> <br> Spraystencil black, Skateboard completo, white-black<br>prezzo: € 99,99
                </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/e4/8f/81/titus-skateboard-komplett-foam-stained-triple-schranz-mini-black-stained-vorderansicht-0162355_600x600.jpg" alt="error" class="df-img">
                <p><br>
                    <h2>TITUS</h2> <br>Foam Stained Triple-Schranz-Mini, Skateboard completo, black-stained<br>prezzo: € 84,99
                </p>
            </div>

        </div>

    </div>

</body>

</html>