<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="static/pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="static/tavola baker.css">
    <link rel="stylesheet" href="static/grid container {.css">
</head>

<nav>
    <ul>
        <li><a href="/pagina2"><b>TORNA INDIETRO</b></a></li>
    </ul>
</nav>


<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="https://media.titus.de/media/image/45/f0/b3/santa-cruz-skateboard-decks-delfino-tarot-vx-multicolored-vorderansicht-0267091_600x600.jpg" alt="error" class="df-img">
                <p> Delfino Tarot VX, Tavola, multicolored<br> prezzo: € 109,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>

            </div>
            <div>
                <img src="https://media.titus.de/media/image/d2/4c/f8/santa-cruz-skateboard-decks-transcend-dots-vx-black-vorderansicht-0265981_600x600.jpg" alt="error" class="df-img">
                <p> Transcend Dots VX, Tavola, black<br> prezzo: € 94,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/06/a3/b7/santa-cruz-skateboard-decks-wooten-crest-vx-multicolored-vorderansicht-0267090_600x600.jpg" alt="error" class="df-img">
                <p>Wooten Crest VX, Tavola, multicolored <br> prezzo: € 109,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>

            </div>
            <div>
                <img src="https://media.titus.de/media/image/d2/df/72/santa-cruz-skateboard-decks-screaming-hand-white-vorderansicht-0264428_600x600.jpg" alt="error" class="df-img">
                <p>Screaming Hand, Tavola, white <br> prezzo: € 79,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>

            </div>
            <div>
                <img src="https://media.titus.de/media/image/e7/ab/f2/santa-cruz-skateboard-decks-no-pattern-dot-multicolored-vorderansicht-0265986_600x600.jpg" alt="error" class="df-img">
                <p>No Pattern Dot Everslick, Tavola, multicolored<br> prezzo: € 72,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>

            </div>
            <div>
                <img src="https://media.titus.de/media/image/0e/03/25/santa-cruz-skateboard-decks-johnson-other-side-black-vorderansicht-0267087_600x600.jpg" alt="error" class="df-img">
                <p>Johnson Other Side, Tavola, black <br> prezzo: € 79,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/b2/17/2b/santa-cruz-skateboard-decks-screaming-hand-green-vorderansicht-0264428_600x600.jpg" alt="error" class="df-img">
                <p> Screaming Hand, Tavola, green<br> prezzo: € 79,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/f8/04/3e/santa-cruz-skateboard-decks-braun-drum-kit-green-vorderansicht-0265987_600x600.jpg" alt="error" class="df-img">
                <p> Braun Drum Kit Everslick, Tavola, green<br> prezzo: € 79,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/0a/00/3c/santa-cruz-skateboard-decks-guzman-dining-with-the-dead-multicolored-vorderansicht-0114207_600x600.jpg" alt="error" class="df-img">
                <p>Guzman Dining With The Dead, Tavola, multicolored <br> prezzo: € 79,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/31/ce/65/santa-cruz-skateboard-decks-no-pattern-hand-multicolored-vorderansicht-0267458_600x600.jpg" alt="error" class="df-img">
                <p> No Pattern Hand Everslick, Tavola, multicolored<br> prezzo: € 78,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/92/c4/51/santa-cruz-skateboard-decks-contra-allover-multicolored-vorderansicht-0265973_600x600.jpg" alt="error" class="df-img">
                <p> Contra Allover, Tavola, multicolored<br> prezzo: € 57,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/3a/fb/72/santa-cruz-skateboard-decks-delfino-ego-brown-yellow-vorderansicht-0265549_600x600.jpg" alt="error" class="df-img">
                <p>Delfino Ego, Tavola, brown-yellow <br> prezzo: € 69,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/4e/f9/62/santa-cruz-skateboard-decks-classic-dot-fa20-yellow-vorderansicht-0264427_600x600.jpg" alt="error" class="df-img">
                <p>Classic Dot, Tavola, yellow<br> prezzo: € 74,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/eb/g0/57/santa-cruz-skateboard-decks-classic-dot-fa20-brown-vorderansicht-0264427_600x600.jpg" alt="error" class="df-img">
                <p> Classic Dot, Tavola, brown<br> prezzo: € 74,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/f7/b1/21/santa-cruz-skateboard-decks-screaming-hand-black-vorderansicht-0264428_600x600.jpg" alt="error" class="df-img">
                <p> Screaming Hand, Tavola, black<br> prezzo: € 79,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/94/2a/52/santa-cruz-skateboard-decks-classic-dot-fa20-blue-vorderansicht-0264427_600x600.jpg" alt="error" class="df-img">
                <p>Classic Dot, Tavola, blue <br> prezzo: € 74,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/77/ae/f0/santa-cruz-skateboard-decks-mccoy-afterglow-black-gold-vorderansicht-0265546_600x600.jpg" alt="error" class="df-img">
                <p> McCoy Afterglow, Tavola, black-gold<br> prezzo: € 69,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/ce/81/ca/santa-cruz-skateboard-decks-screaming-hand-purple-vorderansicht-0264428_600x600.jpg" alt="error" class="df-img">
                <p>Screaming Hand, Tavola, purple <br> prezzo: € 79,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/5c/b5/5a/santa-cruz-skateboard-decks-classic-dot-black-vorderansicht-0264427_600x600.jpg" alt="error" class="df-img">
                <p> Classic Dot, Tavola, black <br> prezzo: € 74,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/66/ec/73/santa-cruz-skateboard-decks-classic-dot-fa20-white-vorderansicht-0264427_600x600.jpg" alt="error" class="df-img">
                <p>Classic Dot, Tavola, white <br> prezzo: € 74,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/53/bd/6b/santa-cruz-skateboard-decks-braun-hotdog-everslick-black-yellow-vorderansicht-0264425_600x600.jpg" alt="error" class="df-img">
                <p> Braun Hotdog Everslick, Tavola, black-yellow<br> prezzo: € 74,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/4c/4c/60/santa-cruz-skateboard-decks-screaming-hand-red-vorderansicht-0264428_600x600.jpg" alt="error" class="df-img">
                <p> Screaming Hand, Tavola, red <br> prezzo: € 79,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>

        </div>


    </div>
</body>

</html>