<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="tavola baker.css">
    <link rel="stylesheet" href="grid container {.css">
</head>

<nav>
    <ul>
        <li><a href="pagina2.html"><b>BACK</b></a></li>
    </ul>
</nav>


<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="https://media.titus.de/media/image/57/e5/8a/baker-skateboard-decks-brand-logo-red-white-vorderansicht-0261405_600x600.jpg" alt="error" class="df-img">
                <p>Tavola, red-white <br> prezzo: 84,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>

            </div>
            <div>
                <img src="https://media.titus.de/media/image/ca/1a/92/baker-skateboard-decks-figgy-brand-name-moss-vorderansicht-0262644_600x600.jpg" alt="error" class="df-img">
                <p> Figgy Brand Name, Tavola, moss <br> prezzo: € 84,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/ce/43/58/baker-skateboard-decks-peterson-brand-name-periwinkle-vorderansicht-0262647_600x600.jpg" alt="error" class="df-img">
                <p> Peterson Brand Name, Tavola, periwinkle <br>prezzo:€ 84,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>

            </div>
            <div>
                <img src="https://media.titus.de/media/image/af/27/c7/baker-skateboard-decks-herman-labyrinth-blue-vorderansicht-0268034_600x600.jpg" alt="error" class="df-img">
                <p> Herman Labyrinth, Tavola, blue <br>prezzo: € 84,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>

            </div>
            <div>
                <img src="https://media.titus.de/media/image/5d/88/f9/baker-skateboard-decks-reynolds-distressing-sensation-black-vorderansicht-0267999_600x600.jpg" alt="error" class="df-img">
                <p> Reynolds Distressing Sensation, Tavola, black <br>prezzo: € 84,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>

            </div>
            <div>
                <img src="https://media.titus.de/media/image/8b/54/ff/baker-skateboard-decks-reynolds-toon-goons-assorted-vorderansicht-0267595_600x600.jpg" alt="error" class="df-img">
                <p> Reynolds Toon Goons, Tavola, assorted <br>prezzo: € 84,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>

            </div>
        </div>


    </div>
</body>

</html>