<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="tavola baker.css">
    <link rel="stylesheet" href="grid container {.css">
</head>

<nav>
    <ul>
        <li><a href="pagina2.html"><b>BACK</b></a></li>
    </ul>
</nav>


<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="https://media.titus.de/media/image/02/24/5b/element-skateboard-decks-galaxy-black-vorderansicht-0268095_600x600.jpg" alt="error" class="df-img">
                <p> Galaxy, Tavola, black <br>prezzo: € 64,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/d1/c2/a4/element-skateboard-decks-apse-space-case-black-green-vorderansicht-0269171_600x600.jpg" alt="error" class="df-img">
                <p> Apse Space Case, Tavola, black-green <br>prezzo:€ 64,99<br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/17/7c/d0/element-skateboard-decks-westgate-natural-defense-multicolored-vorderansicht-0266723_600x600.jpg" alt="error" class="df-img">
                <p> Westgate Natural Defense, Tavola, multicolored<br>prezzo:€ 64,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/ed/d1/58/element-skateboard-decks-seal-sand-camo-vorderansicht-0111854_600x600.jpg" alt="error" class="df-img">
                <p> Seal, Tavola, sand-camo <br>prezzo: € 59,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/56/1d/ca/Element-Skateboard-Decks-Seal-black-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p> Seal, Tavola, black<br>prezzo: € 59,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/ba/c6/9f/element-skateboard-decks-jaakko-space-case-beige-vorderansicht-0269169_600x600.jpg" alt="error" class="df-img">
                <p> Jaakko Space Case, Tavola, beige<br>prezzo:€ 64,99<br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
        </div>

    </div>
</body>

</html>