<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="static/pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="static/tavola baker.css">
    <link rel="stylesheet" href="static/grid container {.css">
</head>

<nav>
    <ul>
        <li><a href="/pagina2"><b>TORNA INDIETRO</b></a></li>
    </ul>
</nav>



<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="https://media.titus.de/media/image/55/66/89/girl-skateboard-decks-pacheco-blooming-white-multi-vorderansicht-0267497_600x600.jpg" alt="error" class="df-img">
                <p>Pacheco Blooming, Tavola, white-multi<br>prezzo:€ 64,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/0a/e5/8e/girl-skateboard-decks-gass-og-knockout-yellow-vorderansicht-0267490_600x600.jpg" alt="error" class="df-img">
                <p> Gass OG Knockout, Tavola, yellow<br>prezzo: € 64,99<br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/0e/f8/70/girl-skateboard-decks-bennett-og-knockout-lightblue-vorderansicht-0267495_600x600.jpg" alt="error" class="df-img">
                <p> Bennett OG Knockout, Tavola, lightblue<br>prezzo:€ 64,99<br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/43/e7/e1/girl-skateboard-decks-pacheco-og-knockout-blue-vorderansicht-0267494_600x600.jpg" alt="error">
                <p>Pacheco OG Knockout, Tavola, blue<br> prezzo: € 64,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/32/13/62/girl-skateboard-decks-bennett-93-til-maedchen-red-wood-vorderansicht-0266725_600x600.jpg" alt="error" class="df-img">
                <p> Bennett 93 Til Mädchen, Tavola, red-wood<br>prezzo: € 64,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/07/36/d1/girl-skateboard-decks-bannerot-93-til-fille-pop-secret-chocolate-white-vorderansicht-0267501_600x600.jpg" alt="error" class="df-img">
                <p>Bannerot 93 Til Fille Pop Secret, Tavola, chocolate-white<br> prezzo: € 74,99<br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/0d/94/ba/girl-skateboard-decks-geering-og-knockout-brown-vorderansicht-0267489_600x600.jpg" alt="error" class="df-img">
                <p>Geering OG Knockout, Tavola, brown<br> prezzo: € 64,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/ab/69/3a/girl-skateboard-decks-bannerot-vibrations-og-multicolored-vorderansicht-0266754_600x600.jpg" alt="error" class="df-img">
                <p>Bannerot Vibrations OG, Tavola, multicolored<br>prezzo: € 54,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/a6/a5/a4/girl-skateboard-decks-malto-93-til-babai-mint-darkgreen-vorderansicht-0262422_600x600.jpg" alt="error" class="df-img">
                <p> Malto 93 Til Babai, Tavola, mint-darkgreen<br>prezzo:€ 64,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/7b/2b/ee/girl-skateboard-decks-new-pro-93-til-assorted-vorderansicht-0266725_600x600.jpg" alt="error" class="df-img">
                <p> Bennett 93 Til Mädchen, Tavola, assorted<br>prezzo:€ 64,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/e4/cd/b8/girl-skateboard-decks-new-pro-future-og-assorted-vorderansicht-0266729_600x600.jpg" alt="error" class="df-img">
                <p> Bennett Future OG, Tavola, assorted<br>prezzo: € 51,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/3c/23/8e/girl-skateboard-decks-wilson-power-red-vorderansicht-0265178_600x600.jpg" alt="error" class="df-img">
                <p> Wilson Power, Tavola, red <br>prezzo: € 89,99 <br>GRIP COMPRESO<br>SIZE 8.5</p>
            </div>
        </div>

    </div>
</body>