<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="static/pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="static/tavola baker.css">
    <link rel="stylesheet" href="static/grid container {.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="/HOME"><b>HOME</b></a></li>
    </ul>
</nav>


    <div class="container">
        <div class="grid-container">
            
            {%for image in risultato%}
            <a href="/tool_ris/{{image}}"><img src="static/immagini/tool/{{image}}" /></href>
            {%endfor%}
        </div>
    </div>
</body>

<footer>
    <p> El Allami Ali  - elallami.ali.nasr@iisgalvanimi.edu.it</p>
  </footer>
</html>