<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="tavola baker.css">
    <link rel="stylesheet" href="grid container {.css">
</head>

<nav>
    <ul>
        <li><a href="pagina3.html"><b>BACK</b></a></li>
    </ul>
</nav>

<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="https://media.titus.de/media/image/0f/b1/40/Bullet-Achsen-150mm-silver-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p> Truck, silver<br>prezzo:€ 19,99<br>SIZE 150mm</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/39/45/9c/Bullet-Achsen-150mm-black-black-Vorderansicht_600x600.jpg" alt="error" class="df-img">
                <p>Truck, black-black <br>prezzo:€ 22,99 40$<br>SIZE 150mm</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/e7/b4/a8/bullet-achsen-160mm-polished-longboard-rkp-silver-vorderansicht-0122872_600x600.jpg" alt="error" class="df-img">
                <p> Polished Longboard RKP, Truck, silver prezzo:€ 32,99 <br>SIZE 160mm</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/e6/9f/62/bullet-achsen-185mm-polished-silver-silver-vorderansicht-0122871_600x600.jpg" alt="error" class="df-img">
                <p> Polished Silver, Truck, silver<br>prezzo: € 22,99 <br>SIZE 185mm</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/6a/g0/51/bullet-achsen-110mm-silver-vorderansicht-0122393_600x600.jpg" alt="error" class="df-img">
                <p> Truck, silver<br>prezzo:€ 18,99 <br>SIZE 110mm</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/37/c9/0c/bullet-achsen-145mm-black-vorderansicht-0121999_600x600.jpg" alt="error" class="df-img">
                <p> Truck, black<br>prezzo: € 21,99 <br>SIZE 145mm</p>
            </div>
        </div>

    </div>

</body>

</html>