<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="tavola baker.css">
    <link rel="stylesheet" href="grid container {.css">
</head>

<nav>
    <ul>
        <li><a href="pagina3.html"><b>BACK</b></a></li>
    </ul>
</nav>

<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="https://media.titus.de/media/image/c8/3f/f5/venture-achsen-5-6-high-legion-team-edition-silver-orange-vorderansicht-0123316_600x600.jpg" alt="error" class="df-img">
                <p>High Legion Team Edition, Truck, silver-orange<br>prezzo:€ 37,99<br>SIZE 148mm</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/60/b9/a9/venture-achsen-5-8-high-pro-mike-anderson-ventura-all-polished-vorderansicht-0123323_600x600.jpg" alt="error" class="df-img">
                <p>High Pro Mike Anderson Ventura, Truck, all-polished<br>prezzo:€ 37,99<br>SIZE 114mm</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/4c/c4/d5/venture-achsen-5-2-high-v-hollow-lights-anodized-red-silver-vorderansicht-0122943_600x600.jpg" alt="error" class="df-img">
                <p> High V-Hollow Lights Anodized, Truck, red-silver<br>prezzo:€ 47,99<br>SIZE 145mm</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/a6/66/68/venture-achsen-5-8-high-pro-andrew-wilson-awake-ltd-all-polished-vorderansicht-0123311_600x600.jpg" alt="error" class="df-img">
                <p>High Pro Andrew Wilson Awake LTD, Truck, All Polished<br>prezzo:€ 37,99 <br>SIZE 148mm</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/40/e2/e7/venture-achsen-5-8-high-pro-gilbert-crockett-gloss-black-vorderansicht-0123314_600x600.jpg" alt="error" class="df-img">
                <p>High Pro Gilbert Crockett, Truck, gloss-black<br>prezzo:€ 37,99 <br>SIZE 151mm</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/e5/f5/ce/venture-achsen-5-2-low-v-lights-silver-blue-vorderansicht-0123318_600x600.jpg" alt="error" class="df-img">
                <p>Low V-Lights, Truck, silver-blue<br>prezzo: € 41,99<br>SIZE 139mm</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/a9/47/c9/venture-achsen-5-8-high-legion-team-edition-silverpolished-army-vorderansicht-0123317_600x600.jpg" alt="error" class="df-img">
                <p>High Legion Team Edition, Truck, silverpolished-army<br>prezzo: € 37,99<br>SIZE 149mm</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/c0/54/54/venture-achsen-5-0-high-legion-team-edition-silver-black-vorderansicht-0123315_600x600.jpg" alt="error" class="df-img">
                <p> High Pro John Shanahan, Truck, silverpolished-black<br>prezzo: € 37,99<br>SIZE 159mm</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/c7/ae/b9/venture-trucks-5-6-high-v-light-awake-horizon-silverpolished-vorderansicht-0123329_600x600.jpg" alt="error" class="df-img">
                <p>High V-Light Awake Horizon, Truck, silverpolished<br>prezzo:€ 41,99<br>SIZE 169mm</p>
            </div>
        </div>

    </div>

</body>

</html>