<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="static/pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="static/tavola baker.css">
    <link rel="stylesheet" href="static/grid container {.css">
</head>

<nav>
    <ul>
        <li><a href="/pagina3"><b>TORNA INDIETRO</b></a></li>
    </ul>
</nav>

<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="https://media.titus.de/media/image/02/0a/6a/ace-achsen-77-af1-9-5-gold-vorderansicht-0122910_600x600.jpg" alt="error" class="df-img">
                <p>77 AF1 , Truck, gold<br>prezzo: € 41,99<br>SIZE 159mm</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/0a/3c/4e/ace-achsen-5-75-classic-44-matte-black-vorderansicht-0120501_600x600.jpg" alt="error" class="df-img">
                <p> Classic 44, Truck, matte-black<br>prezzo: € 34,99 <br>SIZE 149mm</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/75/8e/73/ace-achsen-6-75-classic-66-polished-red-vorderansicht-0120590_600x600.jpg" alt="error" class="df-img">
                <p> Classic 66, Truck, polished-red<br>prezzo: € 36,99<br>SIZE 151mm</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/8d/8d/98/ace-achsen-22-af-1-7-75-matte-black-vorderansicht-0122869_600x600.jpg" alt="error" class="df-img">
                <p>22 AF1, Truck, matte-black<br>prezzo: € 41,99 <br>SIZE 109mm</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/36/15/d6/ace-achsen-6-375-classic-55-sapphire-vorderansicht-0120589_600x600.jpg" alt="error" class="df-img">
                <p> Classic 55, Truck, sapphire<br>prezzo: € 34,99<br>SIZE 139mm</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/90/4c/15/ace-achsen-6-75-classic-66-silver-vorderansicht-0120590_600x600.jpg" alt="error" class="df-img">
                <p>Classic 66, Truck, silver<br>prezzo: € 33,99 <br>SIZE 151mm</p>
            </div>

        </div>
    </div>

</body>

</html>