<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="static/pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="static/tavola baker.css">
    <link rel="stylesheet" href="static/grid container {.css">
</head>

<nav>
    <ul>
        <li><a href="/pagina3"><b>TORNA INDIETRO</b></a></li>
    </ul>
</nav>

<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="https://media.titus.de/media/image/22/3f/a6/thunder-achsen-148-hi-hollow-team-silver-vorderansicht-0122480_600x600.jpg" alt="error" class="df-img">
                <p>Hi Hollow Team, Truck, silver<br>prezzo:€ 45,99<br>SIZE 148mm</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/f4/a0/c1/thunder-achsen-149-hi-og-grenade-team-edition-silver-olive-vorderansicht-0123321_600x600.jpg" alt="error" class="df-img">
                <p> Hi OG Grenade Team Edition, Truck, silver-olive <br>prezzo: € 39,99<br>SIZE 149mm</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/12/3c/3b/thunder-achsen-147-hi-onyx-team-edition-white-black-vorderansicht-0122919_600x600.jpg" alt="error" class="df-img">
                <p> Hi Onyx Team Edition, Truck, white-black<br>prezzo:€ 39,99 <br>SIZE 147mm</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/ed/75/42/thunder-achsen-brevard-147-hi-stamped-team-edition-polished-green-vorderansicht-0122917_600x600.jpg" alt="error" class="df-img">
                <p>Brevard Hi Stamped Team Edition, Truck, polished-green <br>prezzo:€ 39,99<br>SIZE 147mm</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/35/f8/3c/thunder-achsen-151-hi-polish-silver-vorderansicht-0122490_600x600.jpg" alt="error" class="df-img">
                <p> Hi Polished, Truck, silver<br>prezzo: € 33,99<br>SIZE 151mm</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/63/35/71/thunder-achsen-149-hi-hollow-team-silver-vorderansicht-0122481_600x600.jpg" alt="error" class="df-img">
                <p> Hi Hollow Team, Truck, silver<br>prezzo:€ 45,99<br>SIZE 149mm</p>
            </div>
        </div>

    </div>

</body>

</html>