<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="tavola baker.css">
    <link rel="stylesheet" href="grid container {.css">

</head>
<nav>
    <ul>
        <li><a href="pagina3.html"><b>BACK</b></a></li>
    </ul>
</nav>

<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="https://cdn.skatedeluxe.com/thumb/1HZ0se22tB3N6kqwI2_9N0Pfrvo=/fit-in/300x350/filters:fill(white):brightness(-4)/product/146494-0-Tensor-GlossyMagnesiumLight525AllTerrain.jpg" alt="error" class="df-img">
                <p>TENSOR GLOSSY MAGNESIUM ALL TERRAIN TRUCK<br>prezzo:€ 84,99 <br>SIZE 114mm</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/63/70/15/tensor-achsen-5-25-reg-alloy-stencil-mirror-crimson-vorderansicht-0123267_600x600.jpg" alt="error" class="df-img">
                <p> Alloy Stencil, Truck, mirror-crimson<br> € 34,99 <br>SIZE 149mm </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/f8/d5/97/tensor-achsen-5-25-reg-alloy-stencil-mirror-blue-vorderansicht-0123267_600x600.jpg" alt="error" class="df-img">
                <p> Alloy Stencil, Truck, mirror-blue<br>prezzo:€ 44,99<br>SIZE 169mm </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/f8/0b/b5/tensor-achsen-5-25-reg-alloy-stencil-mirror-green-vorderansicht-0123267_600x600.jpg" alt="error" class="df-img">
                <p> Alloy Stencil, Truck, mirror-green<br>prezzo:€ 59,99<br>SIZE 139mm</p>
            </div>

        </div>
    </div>


</body>

</html>