<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="tavola baker.css">
    <link rel="stylesheet" href="grid container {.css">
</head>

<nav>
    <ul>
        <li><a href="pagina9.html"><b>BACK</b></a></li>
    </ul>
</nav>
 

<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="https://media.titus.de/media/image/58/ba/00/Mini-Logo-Montagesaetze-1-1-4-Kreuz-no-color-Vorderansicht_600x600.jpg" alt=" error " class="df-img ">
                <p>1-1/4"-Kreuz, Kit di montaggio, no color<br>prezzo: € 3,99 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/06/ce/da/Mini-Logo-Montagesaetze-1-Kreuz-no-color-Vorderansicht_600x600.jpg" alt=" error " class="df-img ">
                <p>1"-Kreuz, Kit di montaggio, no color<br>prezzo: € 3,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/eb/f7/fc/Mini-Logo-Montagesaetze-7-8-Kreuz-no-color-Vorderansicht_600x600.jpg" alt=" error " class="df-img ">
                <p>7/8"-Kreuz, Kit di montaggio, no color<br>prezzo: € 3,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/g0/9e/06/Mini-Logo-Montagesaetze-1-1-2-Kreuz-no-color-Vorderansicht_600x600.jpg" alt=" error " class="df-img ">
                <p>1-1/2"-Kreuz, Kit di montaggio, no color<br>prezzo: € 3,99</p>
            </div>
            

        </div>


    </div>
</body>