<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="static/pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="static/tavola baker.css">
    <link rel="stylesheet" href="static/grid container {.css">
</head>

<nav>
    <ul>
        <li><a href="/pagina9"><b>TORNA INDIETRO</b></a></li>
    </ul>
</nav>


<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="static/immagini/viti ace.jpg" alt="error" class="df-img">
                <p>Bolts Allen 7/8", Kit di montaggio, black <br>prezzo: € 7,99 </p>
            </div>
            <div>
                <img src="static/immagini/viti ace2.jpg" alt="error" class="df-img">
                <p>Bolts Allen 1", Kit di montaggio, black <br>prezzo: € 7,99</p>
            </div>
            <div>
                <img src="static/immagini/viti ace3.jpg" alt="error" class="df-img">
                <p>Bolts Phillips 7/8", Kit di montaggio, black <br>prezzo: € 7,99 </p>
            </div>
            <div>
                <img src="static/immagini/viti ace4.jpg" alt="error" class="df-img">
                <p>Bolts Phillips 1", Kit di montaggio, black <br>prezzo: € 7,99 </p>
            </div>
            <div>
                <img src="static/immagini/viti ace5.jpg" alt="error" class="df-img">
                <p>Bolts Phillips 1 1/4", Kit di montaggio, black <br>prezzo: € 7,99</p>
            </div>
            <div>
                <img src="static/immagini/viti ace6.jpg" alt="error" class="df-img">
                <p>Bolts Allen 1 1/4", Kit di montaggio, black <br>prezzo: € 7,99 </p>
            </div>

        </div>


    </div>
</body>