<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="static/pagina2.css" rel="stylesheet">
    <link rel="stylesheet" href="static/tavola baker.css">
    <link rel="stylesheet" href="static/grid container {.css">
</head>

<nav>
    <ul>
        <li><a href="/pagina9"><b>TORNA INDIETRO</b></a></li>
    </ul>
</nav>


<body>
    <div class="container">
        <div class="grid-container">
            <div>
                <img src="https://media.titus.de/media/image/f4/61/b0/ace-montagesaetze-bolts-allen-7-8-black-vorderansicht-0196269_600x600.jpg" alt="error" class="df-img">
                <p>Bolts Allen 7/8", Kit di montaggio, black <br>prezzo: € 7,99 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/a2/ae/69/ace-montagesaetze-bolts-allen-1-black-vorderansicht-0196270_600x600.jpg" alt="error" class="df-img">
                <p>Bolts Allen 1", Kit di montaggio, black <br>prezzo: € 7,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/fa/c7/a7/ace-montagesaetze-bolts-phillips-7-8-black-vorderansicht-0196272_600x600.jpg" alt="error" class="df-img">
                <p>Bolts Phillips 7/8", Kit di montaggio, black <br>prezzo: € 7,99 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/0c/84/02/ace-montagesaetze-bolts-phillips-1-black-vorderansicht-0196273_600x600.jpg" alt="error" class="df-img">
                <p>Bolts Phillips 1", Kit di montaggio, black <br>prezzo: € 7,99 </p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/0f/37/db/ace-montagesaetze-bolts-phillips-1-1-4-black-vorderansicht-0196274_600x600.jpg" alt="error" class="df-img">
                <p>Bolts Phillips 1 1/4", Kit di montaggio, black <br>prezzo: € 7,99</p>
            </div>
            <div>
                <img src="https://media.titus.de/media/image/b5/4e/de/ace-montagesaetze-bolts-allen-1-1-4-black-vorderansicht-0196271_600x600.jpg" alt="error" class="df-img">
                <p>Bolts Allen 1 1/4", Kit di montaggio, black <br>prezzo: € 7,99 </p>
            </div>

        </div>


    </div>
</body>